.container
  .row
    .col-sm-3
      div.sidebar.col-sm-12(ng-controller='TwitterFeedCtrl')
        a.donate(href="http://www.justgiving.com/acecentre/donate/?utm_source=website_cid139889&utm_medium=buttons&utm_content=acecentre&utm_campaign=donate_white")
          img.img-responsive(src="/assets/images/btn-just-giving.png", alt="Donate with JustGiving")
        
      block left-pane
        
      block sidebar
            
      div.sidebar.col-sm-12(ng-controller='TwitterFeedCtrl')
          h2 Recent Tweets
          .media(ng-repeat='tweet in feed')
            .pull-left.hidden-sm.hidden-md
              img.media-object(ng-src='{{ tweet.user.profile_image_url }}')
            .media-body
              p(ng-bind-html='tweet.text | tweet')
    .col-sm-9
      .main-content
        block content

        div(ng-if='comments', comments='')
