body {
	margin-bottom: 100px;
}

header #user-widget{
    width: 400px;
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.main-nav .navbar-form{
    margin-right: 10px !important;
}

#login_form{
    width: 330px;
    margin: 0 auto;
}

#login_form button{
    display: block;
    margin: 0 auto;
}

#login_form .panel-body{
    padding: 10px;
}

#login_form label{
    width: 120px;
}

#login_form ul li {
    color: #f00;
}

#login_form h2{
    font-size: 12pt;
}

table#users .user-enabled{
    text-align: center;
}

table#users thead td{
    font-weight: bold;
}

/* edit pages components */

.edit-field-row{
    border-bottom: 1px solid darkgrey;
    margin-bottom: 10px;
    min-height: 100px;
}

.edit-field-row ul{
    margin-left: 0;
    padding-left: 0;
}

.edit-field-row li{
    list-style-type: none;
}

body.admin-user{
    padding-top: 50px;
}

a.moderation-action, button.moderation-action {;
    width: 48%;
    margin-bottom: 10px;
}

/* edit page gallery styling */

div.product-gallery{
    margin-bottom: 20px;
}