extends ../../layout/2_column

block content
  .table-content
    table.table.table-striped
      caption Users
      thead
        tr
          th Email
          th Name
          th Role
          th Active
          th Actions
      tbody
        tr(ng-repeat='user in users')
          td {{ user.email }}
          td {{ user.firstName }} {{ user.lastName }}
          td
            select(ng-model='user.role', ng-options='role as role for role in roles', ng-change='updateRole(user)')
              option(value='', disabled, selected) Please select
              
          td: input(type='checkbox', ng-model='user.active', ng-change='updateStatus(user)')
          td: a(href='#', ng-click='delete(user.email, user)') delete
