{% from 'helpers/form_macros.html' import input_helper, submit_button, display_helper %}

<table class="table table-striped">
    {{ display_helper(form.name) }}
    {{ display_helper(form.description) }}

    {{ display_helper(form.vocab_presentation) }}
    {{ display_helper(form.text_presented) }}

    {{ display_helper(form.supports_abbr_expansion) }}
    {{ display_helper(form.supports_word_prediction) }}

    {{ display_helper(form.words_linked) }}
    {{ display_helper(form.words_start_page_org) }}

    {{ display_helper(form.words_org_other) }}

    {{ display_helper(form.phrases_linked) }}
    {{ display_helper(form.phrases_start_page_org) }}
    {{ display_helper(form.phrases_org_other) }}

    {{ display_helper(form.access_method) }}
    {{ display_helper(form.keyboards_available) }}

    {{ display_helper(form.has_min_target_size) }}
    {{ display_helper(form.min_target_size) }}

    {{ display_helper(form.has_max_locations_per_page) }}
    {{ display_helper(form.max_locations_per_page) }}

    {{ display_helper(form.scanning_options) }}
</table>

