extends ../../layout/2_column
include ../mixins/results-helpers

block content
  h1 Suppliers

  div(ng-controller='ResultsCtrl')

    div(ng-hide='total')
      p No suppliers found.

    div(ng-hide='!total')
      +pagination()

      table.table.table-striped
        thead
          tr
            th Name
            th Website
        tbody
          tr(ng-repeat='item in items')
            td {{ item.name }}
            td {{ item.url }}

      +pagination()
