extends ../../layout/1_column
include ../mixins/results-helpers

block content
  ol.breadcrumb
    li: a(ui-sref='main') Home
    li.active Suppliers
    
  h1 Suppliers

  div(ng-controller='ResultsCtrl')

    +pageListingNotice('suppliers')
    div(ng-hide='!total')
      +pagination()

      table.table.table-striped
        thead
          tr
            th Name
            th Website
        tbody
          tr(ng-repeat='item in items')
            td
              a(ng-href='/suppliers/{{ item._id }}') {{ item.name }}
            td {{ item.url }}

      +pagination()
