.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Advanced product

form.form-horizontal(name='form', ng-submit='create()', novalidate)
  .modal-body
    .panel.panel-default
      .panel-heading Details
      .panel-body

        .form-group(ng-class='{ "has-success": form.Name.$valid && submitted,\
        "has-error": form.Name.$invalid && submitted }')
          label.control-label.col-sm-2(for="Title") Name
          .col-sm-10
            input.form-control(id='Name', name='Name', type='text', ng-model='current.name', required='')
            p.help-block(ng-show='form.Name.$error.required && submitted')
              | Name is required
          
  .modal-footer
    button.btn.btn-primary() Create
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
