include ../../../mixins/form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Advanced product

form.form-horizontal(name='form', ng-submit='create()', novalidate)
  .modal-body
    .panel.panel-default
      .panel-heading Product details
      .panel-body
        +input('form', 'product', 'text', 'name', 'required')
        +textarea('form', 'product', 'text', 'description', 'required')
        input(type='hidden', ng-init='product.type = "ProductHardwareAdvanced"')
          
  .modal-footer
    button.btn.btn-primary() Create
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
