include ../../../mixins/form-helpers
include ./form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Simple product

form.form-horizontal(name='form', ng-submit='save(form)', novalidate)
  .modal-body
    .panel.panel-default
      .panel-heading Product details
      .panel-body
        input(type='hidden', ng-init='product.type = "ProductHardwareSimple"')
        +productDetails()
      
    <!-- Message Levels -->  
    .panel.panel-default
      .panel-heading Message levels
      .panel-body 
        input.form-control(type='number', ng-model='product.features.messageLevels')
        .panel.panel-default(ng-if='product.features.messageLevels > 0', destroy='messageLevelsPerLevel')
          .panel-heading Message number per level
          .panel-body
            input.form-control(type='number', ng-model='product.features.messageLevelsPerLevel')
    
    <!-- Premade vocabularies -->
    .panel.panel-default
      .panel-heading Any pre­made vocabularies available?
      .panel-body
        +switch('product.features', 'premadeVocabularies')
        
        .panel.panel-default(ng-if='product.features.premadeVocabularies', destroy='premadeVocabulariesAvailable')
          .panel-heading Available vocabularies
          .panel-body
            input(type='hidden', ui-select2='select2VocabularyOptions', ng-model="selectedVocabularies", data-placeholder="Select vocabularies")
          
    <!-- Speech Type -->
    .panel.panel-default
      .panel-heading Speech type options
      .panel-body
        +checkbox('product.features', 'speechTypeSynthesised', 'Synthesised')
        .panel.panel-default(ng-if='product.features.speechTypeSynthesised', destroy='synthetisedSpeechTypes')
          .panel-heading Synthesized speech type options
          .panel-body
            select(ui-select2, multiple, ng-model='product.features.speechTypeSynthesisedTypes', data-placeholder='Select options')
              option(ng-repeat='item in synthetisedSpeechOptions', value='{{ item }}') {{ item }}
                
        +checkbox('product.features', 'speechTypeRecorded', 'Recorded')
          
    +sharedHardware()
  .modal-footer
    button.btn.btn-primary() Create
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
