extends ../../layout/2_column
include ../mixins/results-helpers

block content
  button.btn.btn-primary.pull-right(ng-click='edit(product)', ng-if='isLoggedIn()') Edit
  h1 {{ product.name }}
  +ratings()

  hr

  div.product-summary
    div.img-thumbnail(carousel, ng-if='product.images.length')
      div(slide, ng-repeat='image in product.images' active='slide.active')
        img(ng-src="{{ image.url }}", width='200', height='200')

    img.img-thumbnail(ng-if='!product.images.length', src='/assets/images/products/default.png', width='200', height: 200)

    p {{ product.description }}

  .panel.panel-default(ng-if='product.suppliers.length')
    .panel-heading Suppliers
    .panel-body
      ul.list-unstyled(ng-repeat='item in product.suppliers')
        li: a(ng-href='/suppliers/{{ item._id }}') {{ item.name }}
