extends ../../layout/2_column

block content
  button.btn.btn-primary.pull-right(ng-click='edit(product)', ng-if='isLoggedIn()') Edit
  h1 {{ product.name }}
  div(rating, ng-model="rating.average", max="rating.max", readonly="rating.readonly")
  a(ng-if='rating.total', ng-href='/products/{{ product._id }}/ratings') {{ rating.total }} reviews
  a(ng-if='!rating.total', ng-href='/products/{{ product._id }}/ratings') no reviews

  hr

  div.product-summary
    img.img-responsive.img-thumbnail(src='http://placehold.it/200x200')
    p {{ product.description }}

  .panel.panel-default(ng-if='product.suppliers.length')
    .panel-heading Suppliers
    .panel-body
      ul(ng-repeat='item in product.suppliers')
        li {{ item.name }}
