.product-summary {
  @include clearfix();
  margin-top: 20px;
}

.product-summary .img-responsive {
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
}

.product-listing .ratings {
  display: block;
  margin-top: 2px;
  margin-bottom: 3px;
}
