extends ../../layout/2_column
include ../mixins/results-helpers

block content
  h1 Products

  div(ng-controller='ResultsCtrl')

    +pageListingNotice('products')
    div(ng-hide='!total')
      +pagination()
      +media()
      +pagination()
