.product-summary {
  @include clearfix();
  margin-top: 20px;
}

.product-summary .img-thumbnail {
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
}

.product-summary .carousel-indicators {
  bottom: 0;
}

.product-summary .carousel-control {
  display: none;
}

.product-listing .ratings {
  display: block;
  margin-top: 2px;
  margin-bottom: 3px;
}
