.product-summary {
  @include clearfix();
  margin-top: 20px;
}

.product-summary .img-thumbnail {
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
}

.product-summary .carousel-indicators {
  bottom: 0;
}

.product-summary .carousel-control {
  display: none;
}

.product-listing .ratings {
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
}

.product-listing {
  .media-left {
  	padding-right: 20px;
  	text-align: center;
  }
  
  dl {
  	margin-bottom: 0;
  }
  
  dd {
  	margin-bottom: 5px;
  }
  
  hr {
    margin: 15px 0;
  }
}

.product-listing-simple .media-heading {
  font-size: 1em;
}

.product-listing-simple .media-body {
  font-size: 1em;

  .ratings {
    margin-top: 0;
  }
}

.product-listing-simple hr {
  margin: 0;
}

.product-comparing-list .list-group .glyphicon-remove {
  position: absolute;
  top: 10px;
  right: 10px;
}

/**
Split compare within iframe
**/
.iframe {
  .header, .footer, .sidebar-container, .social-share, [ng-click] {
    display: none;
  }
  .main-container {
    width: 100%;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .page-content {
    padding-bottom: 0;
  }
}

.navbar-compare {
  z-index: 102;
  border-radius: 0;
  background: $secondaryColor;
  border: 0;
  text-transform: uppercase;
  
  .navbar-brand {
    color: #ffffff;
    font-size: 1em;
    
    &:hover {
      color: #ffffff;
    }
  }
  
  &.affix-top {
    width: 100%;
  }
  
  .container {
    max-width: 100%;
  }
  
  &.affix, &.affix-bottom {
    width: 100%;
    left: 0;
    top: 0 !important;
    position: fixed;
  }
  
}

.nav.navbar-nav.navbar-left {
  li {
    padding: 5px;
    position: relative;
    text-align: center;
    transition: opacity ease 200ms;
    outline: none;
    
    &:hover {
      opacity: .5;
      cursor: pointer;
      
      &:before {
        position: absolute;
        height: 40px;
        line-height: 40px;
        width: 40px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e014";
        left: 5px;
        top: 5px;
        z-index: 1;
        color: $primaryColor;
      }
    }
    
    a {
      padding: 0;
    }
  }
}

.nav.navbar-nav.navbar-right a {
  color: #ffffff;
  outline: none;
  
  &:hover {
    text-decoration: underline;
    color: #ffffff;
  }
}