extends ../../layout/2_column

block content
  h1 Products

  .text-center
    pagination.pagination-sm(total-items='products.length', max-size='10', items-per-page='productsPerPage', ng-model='currentPage', boundary-links='true')


  .media(ng-repeat='product in products | from:((currentPage - 1) * productsPerPage) | limitTo: productsPerPage')
    .media-left
      img.media-object(src='http://placehold.it/64x64')
    .media-body
      h4.media-heading {{ product.name }}
      {{ product.description }}

  .text-center
    pagination.pagination-sm(total-items='products.length', max-size='10', items-per-page='productsPerPage', ng-model='currentPage', boundary-links='true')
