extends ../../layout/2_column

include ../mixins/results-helpers

block content
  h1 Products
  
  div(ng-controller='ResultsCtrl')
  
    div(ng-hide='total')
      p No products found. Click #[a(href='/products', target='_self') here] to view all products

    div(ng-hide='!total')
      p Displaying #[strong {{ skip + 1 }}-{{ skip + limit }}] of #[strong{{ total }}] products
      
      +pagination()
      +media()
      +pagination()
