extends ../../layout/2_column
include ../mixins/results-helpers

block append sidebar
  div.product-comparing-list(ng-if='comparing.length')
    h2 Comparing {{ comparing[0].type | type | lowercase }} products
    div.list-group()
      a(href="#", ng-repeat='product in comparing track by $index').list-group-item
        h3.list-group-item-heading {{ product.name }}
        p.list-group-item-text {{ product.description | more:30 }}

    a.btn.btn-primary.pull-right(ng-click='goCompare()') View comparison

block content
  button.btn.btn-primary.pull-right(ng-click='create()', ng-if='isLoggedIn()') New Product
  h1 Products

  div(ng-controller='ResultsCtrl')

    +pageListingNotice('products')
    div(ng-hide='!total')
      +pagination()
      +media()
      +pagination()
