extends ../../layout/2_column
include ../mixins/results-helpers
include ../mixins/form-helpers
include ../admin/products/form-helpers

block append sidebar
  h2 Narrow results
  div(ng-include='"components/forms/product-filters.html"')

block append left-pane
  div.product-comparing-list.sidebar.col-sm-12(ng-if='comparing.length')
    h2 Comparing {{ comparing[0].type | type | lowercase }} products
    div.list-group()
      a(href="#", ng-click='clearCompare(product)', ng-repeat='product in comparing track by $index').list-group-item
        span.glyphicon.glyphicon-remove
        h3.list-group-item-heading {{ product.name | more:15 }}

    a.btn.btn-primary(ng-if='comparing.length > 1', ng-click='goCompare()') View comparison
    a.btn.btn-tertiary(ng-if='comparing.length > 1', ng-click='clearCompare()') Remove all

block content
  button.btn.btn-primary.pull-right(ng-click='create()', ng-if='isLoggedIn()') New Product
  h1 Products

  div(ng-controller='ResultsCtrl')

    +pageListingNotice('products')
    div(ng-hide='!total')
      div(ng-if='isLoading')
        img.loading.ng-hide-animate(ng-show='isLoading', src='/assets/images/loading.gif', width='39', height='39')

      div.ng-hide-animate(ng-hide='isLoading')
        +pagination()
        +media()
        +pagination()
