include ../../mixins/product-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Comparing {{ products.length }} {{ products[0].type | type | lowercase }} products
.modal-body
  table.table.table-striped
    thead
      tr
        th
        th.text-center(ng-repeat='product in products') {{ product.name }}
    tbody
      +compareThumbnail()
      +compareRating()

      tr
        th Category
        td.text-center(ng-repeat='product in products') {{ product.features.category }}

      tr
        th Output
        td.text-center(ng-repeat='product in products')
          +textLineIf('Binary - 1 Switch', 'product.features.output === "binaryOneSwitch"')
          +textLineIf('Binary - Multiple switched', 'product.features.output === "binaryMultipleSwitch"')
          +textLineIf('Proportional', 'product.features.output === "proportional"')

      tr
        th Typical body part that controls
        td.text-center(ng-repeat='product in products')
          +textLineIf('Hand', 'product.features.canBeControlledBy.hand')
          +textLineIf('Eye', 'product.features.canBeControlledBy.eye')
          +textLineIf('Head', 'product.features.canBeControlledBy.head')
          +textLineIf('Arm', 'product.features.canBeControlledBy.arm')
          +textLineIf('Knee', 'product.features.canBeControlledBy.knee')
          +textLineIf('Elbow', 'product.features.canBeControlledBy.elbow')
          +textLineIf('Muscle', 'product.features.canBeControlledBy.muscle')

      tr
        th Mounting
        td.text-center(ng-repeat='product in products')
          +textLineIf('1/4" thread', 'product.features.mountingOptions.oneQuarterInchThread')
          +textLineIf('1/8" thread', 'product.features.mountingOptions.oneEighthInchThread')
          +textLineIf('VESA', 'product.features.mountingOptions.vesa')
          +textLineIf('Suction', 'product.features.mountingOptions.suction')
          +textLineIf('Magnets', 'product.features.mountingOptions.magnetic')
          +textLineIf('Standalone', 'product.features.mountingOptions.standalone')

      tr(ng-if='products[0].features.category === "Eyegaze"')
        th Eye technology
        td.text-center(ng-repeat='product in products')
          +textLineIf('Bright eye tracking', 'product.features.eyegaze.technology.bright')
          +textLineIf('Dark eye tracking', 'product.features.eyegaze.technology.dark')
      tr(ng-if='products[0].features.category === "Eyegaze"')
        th Head movement velocity
        td.text-center(ng-repeat='product in products')
          {{ product.features.eyegaze.headvelocity }}cm/s
      tr(ng-if='products[0].features.category === "Eyegaze"')
        th Minimum operating distance
        td.text-center(ng-repeat='product in products')
          {{ product.features.eyegaze.operatingdistance }}cm
      tr(ng-if='products[0].features.category === "Eyegaze"')
        th Tracking recovery time
        td.text-center(ng-repeat='product in products')
          {{ product.features.eyegaze.trackRecovery }}ms
      tr(ng-if='products[0].features.category === "Eyegaze"')
        th Track status clarity
        td.text-center(ng-repeat='product in products')
          +textLineIf('Live video', 'product.features.eyegaze.trackStatus.video')
          +textLineIf('Graphical visualisation', 'product.features.eyegaze.trackStatus.visualisation')
      tr(ng-if='products[0].features.category === "Eyegaze"')
        th Number of eyes
        td.text-center(ng-repeat='product in products')
          +textLineIf('Monocular', 'product.features.eyegaze.ocularity.Monocular')
          +textLineIf('Binocular', 'product.features.eyegaze.ocularity.Binocular')
      tr(ng-if='products[0].features.category === "Eyegaze"')
        th Selection options
        td.text-center(ng-repeat='product in products')
          +textLineIf('Dwell', 'product.features.eyegaze.selection.dwell')
          +textLineIf('Switch', 'product.features.eyegaze.selection.switch')
          +textLineIf('Blink', 'product.features.eyegaze.selection.blink')
