include ../../mixins/product-helpers
include ../../mixins/form-helpers

h3 Product information
table.table.table-striped
  tbody
    tr
      th Discontinued
      td {{ product.discontinued ? 'Yes': 'No' }}
    tr
      th Can be locked to communication software?
      td {{ product.features.dedicated ? 'Yes': 'No' }} {{ product.features.dedicatedInfo ? '- ' + product.features.dedicatedInfo : '' }}

    tr(ng-if='product.features.mobilePhoneSim')
      th In-built SIM features
      td
        span(ng-if='product.features.mobilePhoneSimType === "smsOnly"') SMS Only
        span(ng-if='product.features.mobilePhoneSimType === "phoneOnly"') Phone Only
        span(ng-if='product.features.mobilePhoneSimType === "smsAndPhone"') SMS and Phone

    tr(ng-if='product.features.mobilePhoneRequired')
      th Phone required features
      td
        +textLineIf('SMS Only', 'product.features.mobilePhoneRequiredType === "smsOnly"')
        +textLineIf('SMS and Phone', 'product.features.mobilePhoneRequiredType === "smsAndPhone"')

    tr(ng-if='product.features.mobilePhoneViaOther')
      th Other phone features
      td {{ product.features.mobilePhoneViaOther }}

    tr(ng-if='product.features.operatingSystems.length')
      th Operating systems
      td
        +listLines('product.features.operatingSystems')

    tr(ng-if='product.features.supportOptions')
      th Support options
      td {{ product.features.supportOptions }}

    tr(ng-if='product.features.warrantyOptions')
      th Warranty options
      td {{ product.features.warrantyOptions }}

    tr(ng-if='product.features.batteryLife')
      th Battery life (hours)
      td {{ product.features.batteryLife }}

    tr(ng-if='product.features.spareBatteryOptions')
      th Spare battery options
      td {{ product.features.spareBatteryOptions }}

    tr(ng-if='product.features.mountingOptions.daessy')
      th Mounting
      td
        +textLineIf('Daessy', 'product.features.mountingOptions.daessy')
        +textLineIf('Rehadapt', 'product.features.mountingOptions.rehadapt')
        +textLineIf('Table stand available', 'product.features.mountingOptions.tableStand')
        +textLineIf('Carrying strap available', 'product.features.mountingOptions.carryingStrap')
        em(ng-if='product.features.mountingOtherDetails') {{ product.features.mountingOtherDetails }}

    tr(ng-if='product.features.weight || product.features.depth || product.features.height || product.features.width || product.features.screenSize')
      th Dimensions (case {{ product.features.sizeIncludingCase ? 'included': 'not included' }})
      td
        dl
          dt(ng-if='product.features.weight') Weight
          dd(ng-if='product.features.weight') {{ product.features.weight }}kg
          dt(ng-if='product.features.depth') Depth
          dd(ng-if='product.features.depth') {{ product.features.depth }}mm
          dt(ng-if='product.features.height') Height
          dd(ng-if='product.features.height') {{ product.features.height }}mm
          dt(ng-if='product.features.width') Width
          dd(ng-if='product.features.width') {{ product.features.width }}mm
          dt(ng-if='product.features.screenSize') Screen size
          dd(ng-if='product.features.screenSize') {{ product.features.screenSize }}"

    tr
      th Environmental control capabilities
      td
        span(ng-if='product.features.enviroControl === "built-in"') Built-in
        span(ng-if='product.features.enviroControl === "additional"') Additional hardware available
        span(ng-if='!product.features.enviroControl') None
        span(ng-if='product.features.enviroControlDetails') &nbsp;- {{ product.features.enviroControlDetails }}

    tr
      th Access methods supported
      td
        +textLineIf('Touch', 'product.features.accessMethods.touch')
        ul(ng-if='product.features.accessMethods.touch')
          li(ng-if='product.features.accessMethodTouchType') Touch type: {{ product.features.accessMethodTouchType }}
          li(ng-if='product.features.accessMethodTouchRequireGestures') Specialist gestures required
          li(ng-if='product.features.touchFeatures.acceptOnEnter') Accept on Enter
          li(ng-if='product.features.touchFeatures.holdTime') Hold time
          li(ng-if='product.features.touchFeatures.debounce') Debounce
          li(ng-if='product.features.touchFeaturesOtherDetails') {{ product.features.touchFeaturesOtherDetails }}
          li(ng-if='product.features.accessMethods.touchMinimumTarget && product.features.accessMethods.touchMinimumTargetSize')
            | Minimum target size: {{ product.features.accessMethods.touchMinimumTargetSize }}mm
          li(ng-if='product.features.accessMethods.touchMaximumLocations')
            | Maximum locations: {{ product.features.accessMethods.touchMaximumLocations }}

        +textLineIf('Mouse or Mouse alternative', 'product.features.accessMethods.mouseOrAlternative')
        ul(ng-if='product.features.accessMethods.mouseOrAlternative')
          li(ng-if='product.features.accessMethods.mouseOrAlternativeMinimumTarget && product.features.accessMethods.mouseOrAlternativeMinimumTargetSize')
            | Minimum target size: {{ product.features.accessMethods.mouseOrAlternativeMinimumTargetSize }}mm
          li(ng-if='product.features.accessMethods.mouseOrAlternativeMaximumLocations')
            | Maximum locations: {{ product.features.accessMethods.mouseOrAlternativeMaximumLocations }}

        +textLineIf('Eyegaze', 'product.features.accessMethods.eyegaze')
        ul(ng-if='product.features.accessMethods.eyegaze')
          li(ng-if='product.features.accessMethods.eyegazeMinimumTarget && product.features.accessMethods.eyegazeMinimumTargetSize')
            | Minimum target size: {{ product.features.accessMethods.eyegazeMinimumTargetSize }}mm
          li(ng-if='product.features.accessMethods.eyegazeMaximumLocations')
            | Maximum locations: {{ product.features.accessMethods.eyegazeMaximumLocations }}

        div(ng-if='product.features.accessMethods.switch') Switch
          ul()
            li(ng-if='product.features.accessMethodsSwitchBuiltIn') Built-in switch
            li(ng-if='!product.features.accessMethodsSwitchBuiltIn') Switch available           
        
        
.panel.panel-default(ng-if='product.features.premadeVocabulariesAvailable.length > 1')
  .panel-heading Associated Vocabularies
  .panel-body
    +displayVocabularies()

section(ng-if='product.features.premadeVocabulariesAvailable.length === 1')
  h3 Vocabulary Information
  .nested-product(onload="product = premadeVocabulariesAvailable[0]", ng-if='product.features.premadeVocabulariesAvailable.length === 1', ng-include='"app/products/vocabulary/detail.html"')

.panel.panel-default(ng-if='product.features.associatedSoftware.length')
  .panel-heading Associated Software
  .panel-body
    ul.list-unstyled
      li(ng-repeat='item in product.features.associatedSoftware')
        a(ng-href='/products/{{ item.slug }}') {{ item.name }}
        
        