@import "compass/css3/user-interface";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

.beta {
  display: block;
  margin-left: 20px;
  font-size: .8em;
  color: #fff;
  background: $primaryColor;
  position: absolute;
  padding: 3px 5px;
  text-transform: uppercase;
}

.header {
  padding-top: 20px;
  padding-bottom: 13px;
  background: #fff;
  border-top: 4px solid $backgroundColor;
  position: relative;
  border-bottom: 10px solid $secondaryColor;

  div {
    outline: none;
  }

  form {
    clear: both;
    padding-top: 20px;
    padding-right: 125px;
    position: relative;
    outline: none;

    .form-control-feedback {
      height: 42px;
      width: 42px;
      line-height: 42px;
      background: none;
      border: 0;
      pointer-events: initial;
      outline: none;
    }

    .form-group, .input-group {
      width: 100%;

      .btn-filter {
        width: 100px;

        .caret {
          position: relative;
          left: 5px;
        }
      }

      &.open .btn-filter {
        border-bottom-color: $backgroundColor;
      }
    }

    .form-control {
      height: 42px;
    }

    .control-label {
      display: block;
    }

    .input-group.open > .dropdown-menu {
      width: 100%;
      border-radius: 0;
      margin-top: 0;
      padding: 20px;
      box-shadow: none;
      border: 1px solid #ccc;
      border-top: 0;
      background: $backgroundColor;

      .ui-select-container {
        z-index: 1001;
      }

      .ui-select-choices {
        background: #ffffff;
      }
    }

    .input-group-addon {
      border-radius: 0;
      background: $backgroundColor;

      &:hover {
        cursor: pointer;
      }
    }

    .link {
      position: absolute;
      right: 0;
      top: 20px;
      font-weight: bold;
      line-height: 42px;
      color: $secondaryColor;
    }

    a.glyphicon-search {
      z-index: 100;

      &:hover {
        cursor: pointer;
      }
    }

    .btn + .btn {
      margin-left: 10px;
    }

    .product-advanced-actions {
      text-align: right
    }

    .product-advanced-filters .form-group {
      @include clearfix;
    }
  }


  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    background-color: $secondaryColor;
  }

}

.header-logo {
  display: block;
  width: 100%;

  img {
    max-width: 100%;
    max-height: 116px;
    margin-top: -7px;
    margin-left: 20px;
  }

  @media (max-width: $screen-xs-max) {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

