header.header(ng-controller="HeaderCtrl")
  div.container
    div.row
      div.col-sm-3
        div.beta beta
        a.header-logo(href='/')
          img(src='/assets/images/brand/logo.png')
      div.col-sm-9
        div(ng-include='"components/navbar/navbar.html"')

        form(name='form', ng-submit='submit(search.term, $event)')
          .form-group
            .input-group(dropdown, auto-close="disabled", is-open="status.isopen")
              span.input-group-addon.btn-filter(dropdown-toggle)
                | Filters
                span.caret
              div.dropdown-menu
                div(ng-include='"components/forms/product-filters.html"')
              input.form-control(id='term', ng-model='search.term', typeahead="o as o for o in getSimilar($viewValue)", typeahead-focus-first="false", name='term', type='text', placeholder='Search for a product...', autocomplete='off')
              button.form-control-feedback(type="submit")
                span.glyphicon.glyphicon-search
          a.link(ui-sref='products()') view all products
