header.header(ng-controller="HeaderCtrl")
  div.container
    div.row
      div.col-sm-3
        div.beta beta
        a.header-logo(href='/')
          img(src='/assets/images/brand/logo.png')
      div.col-sm-9
        div(ng-include='"components/navbar/navbar.html"')

        form.header-form-search(name='form', ng-submit='submit(term, $event)')
          input.header-search-input(id='term', ng-model='term' name='term', type='text', placeholder='Search for a product...', value='{{ search.term }}')
          a.glyphicon.glyphicon-search(ng-click="submit(term)")
          a.link(href='/products') view all products
