div.header
  div.container
    div.row
      div.col-sm-3
        a.header-logo(href='/')
          img(src='/assets/images/brand/logo.png')
      div.col-sm-9
        div(ng-include='"components/navbar/navbar.html"')
          
        form.header-form-search
          input.col-sm-9(type='text', placeholder='Search for products...')
          button(type='submit') Search
          a.col-sm-3(href='/search') view all products
