
@charset "utf-8";
/* CSS Document */




@media (max-width: 992px) {

#nav ul { display:block; }	
#content .leftbar > ul > li > a { font-size:13px; padding-left:24px; }
#content .leftbar > ul > li a .fa { font-size:18px; }
#content .grid .block .desc { padding:15px 10px 0 10px; }

#content .grid .block .desc h3 { font-size:18px; }
#content .grid .block .desc p { font-size:12px; }

#content .bot_c { padding:20px 0; }
#content .bot_c .block { padding:0 15px; }
#content .bot_c .block .img { margin-right:15px; }
#content .bot_c .block p { font-size:14px; }
	
}


@media (max-width: 767px) {



/*#nav {}
.navbar-toggle { float:left; margin:0 0 6px 0; }
.navbar-collapse { clear:both; padding:10px 0; }
#nav ul { display:block; background:none; }
#nav ul li { float:none; margin:0; padding:0; background:none; }
#nav ul li a { font-size:14px; color:#3e314d; line-height: 40px; height: 40px; padding:0 0 0 10px !important; background:#f5f5f5; float:none; border:none !important; }
#nav ul li.active a,#nav ul li a:hover { background:#ff1721; color:#fff; }*/

#nav a.menu_res { display:block;}
#nav a.activemenu { background:#3e314d; margin-left:200px;}

#nav { position:absolute; margin:0; padding:0; left:0; top:0; width:100%; background:rgba(0,0,0,0.3); border:none; box-shadow:none; border-bottom:solid 1px rgba(255,255,255,0.2); border-radius:0;}
#header { padding-top:52px;}

#nav .nav_inner { position:fixed; left:-200px; top:0; bottom:0; width:200px; background:#3e314d; z-index:1111;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
#nav ul { display:block; background:none; }
#nav ul li { float:none; margin:0; padding:0; background:none; }
#nav ul li a { font-size:14px; color:#fff; line-height: 40px; height: 40px; padding:0 0 0 10px !important;  float:none; border:none !important; }
#nav ul li.active a,#nav ul li a:hover { background:#ff1721; color:#fff; }

#nav .ser_box { position:relative; top:auto; right:auto; bottom:auto; float:right; padding:5px; width:84% }
#nav .ser_box .txtbox { border-radius:5px; height:31px; width:100% }

#content .leftbar > ul > li > a { font-size:14px; padding-left:30px; }
#content .leftbar > ul > li a .fa { font-size:22px; }
#content .leftbar { padding-bottom:30px; }
#content .rightbar h1 { font-size:26px; line-height:normal; }
.table-responsive { border:none; }
#content .tbl_1 table tr th { font-size:14px; padding:10px 10px; }	
#content .tbl_1 table tr td { padding:10px 10px; }
#content .tbl_1 table { min-width:398px; }


#content .grid .block .desc h3 { font-size:20px; }
#content .grid .block .desc p { font-size:14px; }
#content .grid .block .desc { padding:15px 15px;  }
#content .bot_c .block { width:100%; padding-bottom:20px; }

#footer .f_links { display:block;  }
#footer .f_links ul li { display:inline-block; float:none; vertical-align:top; margin:0 0 10px 0; }


}

@media (max-width: 480px) {

#content .grid .block { margin:0 0 20px 0; }
#content .grid .block .desc { min-height:10px; }
#content .grid .col-xs-6 { width:100%; }

}

@media (max-width: 320px) {
	

}