.footer {
  background-color: $footerBackgroundColor;
  border-top: 6px solid #fff;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;

  > .container {
    position: relative;
  }
}

.footer-brand-ace-centre {
  @include hide-text;
  width: 84px;
  height: 43px;
  background: #fff image-url('/assets/images/brand/ace-centre-logo.png') 50% 50% no-repeat;
  position: absolute;
  top: -68px;
  right: 20px;
}

.footer-list-links {
  margin: 0;
  padding: 0 0 20px;
  list-style-type: none;

  li {
    display: inline-block;

    & + li:before {
      content: '|'
    }

    a {
      padding: 8px 10px;
    }
  }

  a {
    color: #fff;
  }
}

.footer-copyright {
  font-size: .9em;
}
