.footer {
  background-color: $footerBackgroundColor;
  border-top: 6px solid #fff;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-list-links {
  margin: 0;
  padding: 0 0 20px;
  list-style-type: none;

  li {
    display: inline-block;

    & + li:before {
      content: '|'
    }

    a {
      padding: 8px 10px;
    }
  }

  a {
    color: #fff;
  }
}

.footer-copyright {
  font-size: .9em;
}
