{#
    Twitter bootstrap styled, angular enabled, form elements.
 #}

{% macro input_label(field) -%}
    <label for="{{ field._key }}" class="control-label col-sm-4">{{ field.label }}</label>
{%- endmacro %}

{% macro input_error(field) -%}
    <span class="field-errors">{{ "{{ field_errors." + field._key + " }}" }}</span>
{%- endmacro %}

{% macro input_select(field) -%}
    <div class="col-sm-6">
    <select name="{{ field._key }}" ng-model="form_data.{{ field._key }}">
            <option value="">Please choose</option>
        {% for value, name in field._choices %}
            <option value="{{ value }}">{{ name }}</option>
        {% endfor %}
    </select>
    {{ input_error(field) }}
    </div>
{%- endmacro %}

{% macro input_radio(field) -%}
    <div class="col-sm-6">
    {% for value, name in field._choices %}
        <div class="radio">
            <input type="radio" value="{{ value }}" name="{{ field._key }}" ng-model="form_data['{{ field._key }}']"> {{ name }}
        </div>
    {% endfor %}
    {{ input_error(field) }}
    </div>
{%- endmacro %}

{% macro input_checkbox(field) -%}
    <div class="col-sm-6">
    {% for value, name in field._choices %}
        <div class="radio">
            <input type="checkbox" checklist-value="'{{ value }}'" checklist-model="form_data.{{ field._key }}"> {{ name }}
        </div>
    {% endfor %}
    {{ input_error(field) }}
    </div>
{%- endmacro %}

{% macro input_text(field, class="") -%}
    <div class="col-sm-6">
        <input type="text" ng-model="form_data['{{ field._key }}']" name="{{ field._key }}" class="form-control {{ class }}">
        {{ input_error(field) }}
    </div>
{%- endmacro %}

{% macro input_text(field, class="") -%}
    <div class="col-sm-6">
        <textarea ng-model="form_data['{{ field._key }}']" name="{{ field._key }}" class="form-control {{ class }}"></textarea>
        {{ input_error(field) }}
    </div>
{%- endmacro %}

{% macro input_short_text(field) -%}
    <div class="col-sm-2">
        <input type="text" ng-model="form_data['{{ field._key }}']" name="{{ field._key }}" class="form-control {{ class }}">
        {{ input_error(field) }}
    </div>
{%- endmacro %}

{% macro input_helper(field, field_helper=None) -%}
    <div class="form-group" style="clear:both;" {% if field.display_rule %}sb-show-if-visible="{{ field._key }}"{% endif %}>

        {{ input_label(field) }}

        {% if field_helper %}
            {{ field_helper(field) }}
        {% else %}
            {% if field.use_widget == "radio" %}
                {{ input_radio(field) }}
            {% elif field.use_widget == "checkbox" %}
                {{ input_checkbox(field) }}
            {% elif field.use_widget == "text" %}
                {{ input_text(field) }}
            {% elif field.use_widget == "short_text" %}
                {{ input_short_text(field) }}
            {% elif field.use_widget == "select" %}
                {{ input_select(field) }}
            {% else %}
                No default widget specified for field {{ field }}
            {% endif %}
        {% endif %}

        {{ angular_conditional_rule(field) }}
    </div>
{%- endmacro %}

{% macro angular_conditional_rule(field) -%}
    {% if field.display_rule %}
        <sb-conditional-rule show="{{ field._key }}" when="{{ field.display_rule[0] }}" is="{{ field.display_rule[2] |safe }}">
    {% endif %}
{%- endmacro %}

{% macro submit_button() -%}
    <div class="col-sm-12">
        <button ng-click="save()" class="btn btn-primary clearfix">Save</button>
    </div>
{%- endmacro %}

{% macro input_multi_item(field) -%}
     <div class="col-sm-6">
        <div ng-repeat="url in form_data.{{ field._key }} track by $index">
            <p><input type="text" ng-model="form_data.{{ field._key }}[$index]" placeholder=""> <a ng-show="form_data.{{ field._key }}.length > {{ field.min_items }}" ng-click="form_data.{{ field._key }}.splice($index, 1)">remove</a></p>
            {{ line }}
        </div>
        {{ input_error(field) }}
        <button class="btn-primary btn" {% if field.max_items %}ng-hide="form_data.{{ field._key }}.length >= {{ field.max_items }}"{% endif %} ng-click="form_data.{{ field._key }}.push('')">Add an item</button>
     </div>
    <!-- <!-- " -->
{%- endmacro %}