{#
    Twitter bootstrap styled, angular enabled, form elements.
 #}

{% macro input_label(field) -%}
    <label for="{{ field._key }}" class="control-label col-sm-6">{{ field.label }}</label>
{%- endmacro %}

{% macro input_error(field) -%}
    <span class="field-errors">{{ "{{" + field._key + "}}" }}</span>
{%- endmacro %}

{% macro input_radio(field) -%}
    <div class="col-sm-6">
    {% for value, name in field._choices %}
        <div class="radio">
            <input type="radio" value="{{ value }}" name="{{ field._key }}" ng-model="form_data['{{ field._key }}']"> {{ name }}
        </div>
    {% endfor %}
    </div>
{%- endmacro %}

{% macro input_checkbox(field) -%}
    <div class="col-sm-6">
    {% for value, name in field._choices %}
        <div class="radio">
            <input type="checkbox" checklist-value="'{{ value }}'" checklist-model="form_data.{{ field._key }}"> {{ name }}
        </div>
    {% endfor %}
    </div>
{%- endmacro %}

{% macro input_text(field, class="") -%}
    <div class="col-sm-6">
        <input type="text" ng-model="form_data['{{ field._key }}']" name="{{ field._key }}" class="form-control {{ class }}">
    </div>
{%- endmacro %}

{% macro input_short_text(field) -%}
    <div class="col-sm-2">
        <input type="text" ng-model="form_data['{{ field._key }}']" name="{{ field._key }}" class="form-control {{ class }}">
    </div>
{%- endmacro %}

{% macro input_row_helper(field, field_helper) -%}
    <div class="form-group" {% if field.display_rule %}sb-show-if-visible="{{ field._key }}"{% endif %}>
        {{ input_label(field) }}

        {{ field_helper(field) }}

        {{ angular_conditional_rule(field) }}
    </div>
{%- endmacro %}

{% macro angular_conditional_rule(field) -%}
    {% if field.display_rule %}
        <sb-conditional-rule show="{{ field._key }}" when="{{ field.display_rule[0] }}" is="{{ field.display_rule[2] |safe }}">
    {% endif %}
{%- endmacro %}

{% macro submit_button() -%}
    <div class="col-sm-12">
        <button ng-click="submit()" class="btn btn-primary clearfix">Save</button>
    </div>
{%- endmacro %}

{% macro multi_url_field(field) -%}
        <div ng-repeat="url in data.some_multi_url track by $index">
            <p><input type="text" value="{{ url }}" placeholder=""> <a ng-show="data.some_multi_url.length > 1" ng-click="data.some_multi_url.splice($index, 1)">X</a></p>
        </div>
        <button class="btn-primary btn" ng-click="data.some_multi_url.push('')" ng-show="data.some_multi_url.length <= 6">Add a new url</button>
{%- endmacro %}