packages: 
  yum:
    git: []
    gcc: []
    libstdc++-devel: [] 
    gcc-c++: []
    fuse: []
    fuse-devel: []
    libxml2-devel: []
    mailcap: []
    automake: []
    openssl-devel: []
    libcurl-devel.x86_64: []
commands:
  001-dls3fuse:
    cwd: /home/ec2-user
    test: '[! /home/ec2-user/s3fs-fuse ] && echo "s3fs-fuse directory exists"'
    command: "git clone https://github.com/s3fs-fuse/s3fs-fuse"
  002-cds3fuse: 
    cwd: /home/ec2-user/s3fs-fuse
    test: '[! /usr/bin/s3fs ] && echo "s3fs exists"' 
    command: "./autogen.sh && ./configure --prefix=/usr --with-openssl"
  003-make:
    cwd: /home/ec2-user/s3fs-fuse
    test: '[! /usr/bin/s3fs ] && echo "s3fs exists"' 
    command: "make"
  004-makeinstall:
    cwd: /home/ec2-user/s3fs-fuse
    test: '[! /usr/bin/s3fs ] && echo "s3fs exists"' 
    command: "make install"
  005-monts3drive:
    test: '[! /mnt/speechbubble-assets ] && echo "s3fs mnt exists"' 
    command: "/usr/bin/s3fs speechbubble-assets /mnt -ouse_cache=/tmp"