commands:
  01-attach-volume:
    command: |
      export EC2_HOME=/opt/aws/apitools/ec2 && \
      export IN_USE=$(/opt/aws/bin/ec2-describe-volumes --hide-tags \
        --aws-access-key ${AWS_ACCESS_KEY_ID} \
        --aws-secret-key ${AWS_SECRET_KEY} \
        ${ebs.volume} | grep "in-use") && \
      if [ -z "${IN_USE}" ]; then
        /opt/aws/bin/ec2-attach-volume ${EBS_VOLUME} \
          -i $(/opt/aws/bin/ec2-metadata --instance-id | cut -c14-) \
          -d /dev/sdf \
          --aws-access-key ${AWS_ACCESS_KEY_ID} \
          --aws-secret-key ${AWS_SECRET_KEY} &&
        mkdir -p /sbuploads &&
        sleep 30 && \
        mount /dev/sdf /mnt/sbuploads
      fi

