files:
  /etc/nginx/conf.d/speechbubble.conf:
    content: |
        location /assets/images/uploads/products/(.*)/*.[gif,png,jpg] {
                image_filter resize 150 100;
                error_page 415 = @empty;
         }


          location = @empty {
                access_log off;
                empty_gif;
          }