packages: 
  yum:
    git: []
    gcc: []
    libstdc++-devel: [] 
    gcc-c++: []
    fuse: []
    fuse-devel: []
    libxml2-devel: []
    mailcap: []
    automake: []
    openssl-devel: []
    libcurl-devel.x86_64: []
commands:
  001-dls3fuse:
    cwd: /home/ec2-user
    command: |
      if [ ! -d "s3fs-fuse" ]; then
        git clone https://github.com/s3fs-fuse/s3fs-fuse
      fi
  002-installfuse: 
    command: |
      if [ ! -x /usr/bin/s3fs ]; then
        cd /home/ec2-user/s3fs-fuse && \
        /home/ec2-user/s3fs-fuse/autogen.sh && \
        /home/ec2-user/s3fs-fuse/configure --prefix=/usr --with-openssl && \
        make && \
        make install
      fi
container_commands:
  001-mounts3drive:
    command: |
       if [ -n "${AWS_ACCESS_KEY_ID}" ]; then
           if [ ! mount | grep /mnt/speechbubble-assets > /dev/null]; then
            mkdir -p /mnt/speechbubble-assets && \
            chown ec2-user:ec2-user /mnt/speechbubble-assets && \
            export AWSACCESSKEYID=${AWS_ACCESS_KEY_ID} && \
            export AWSSECRETACCESSKEY=${AWS_SECRET_KEY} && \
            /usr/bin/s3fs speechbubble-assets /mnt/speechbubble-assets -ouse_cache=/tmp
           fi
        fi