Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      # HTTPS server

      upstream nodejs {
      server 127.0.0.1:8443;
      keepalive 256;
      }
      
      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDITCCAgkCAQAwgbIxCzAJBgNVBAYTAkdCMRMwEQYDVQQIEwpMYW5jYXNoaXJl
      MRMwEQYDVQQHEwpNYW5jaGVzdGVyMRMwEQYDVQQKEwpBQ0UgQ2VudHJlMR0wGwYD
      VQQLExRCdXNpbmVzcyBEZXZlbG9wbWVudDEeMBwGA1UEAxQVKi5zcGVlY2hidWJi
      bGUub3JnLnVrMSUwIwYJKoZIhvcNAQkBFhZ3d2FkZUBhY2VjZW50cmUub3JnLnVr
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA16Vq6Gcq6/NbAG4rdJAX
      CmV9S9XxLyHmFQwGC4D1cbiE4aaThDbaHbvGYpb7xpz/p2n0am7bOyIPdCIpLg4+
      JDm5nIQSFr9Ike+MOZu2osvj5MqbuQhp18UsjTOXuUEwNKORokIHHi797S2k1+c7
      2QtyQroWTJnuqBE2+niFPhY0b2wqlWREt73bG3cE4ZtzUhP9Sp2VgAx4C3Ewjc3/
      KH3f1KLXEr1xbJSRY68rYSx5Ihc7I9xfI2BAbnoVNbp4StoarnQZ+FdsRjEuhi9+
      9rQCkxruVLUgd5/Jue3hPHzIL6zvJMMNGrn8h7J+jA65b7sfu4XyW/9Ul1lpOkQg
      DQIDAQABoCkwJwYJKoZIhvcNAQkOMRowGDAJBgNVHRMEAjAAMAsGA1UdDwQEAwIF
      4DANBgkqhkiG9w0BAQsFAAOCAQEATFA+7KYjRRCT5dCu+j9T0qnxW7zAZ6QKoKit
      L6piOfBkr5qWKSziIyk2KzPs09SU7qdPPTk4Elqd0fyEimGzpMxmj+tC0B1LJMY5
      7jeLR2uu+1CONkZYJ9jYbwUQvpjLMK2kIWy42qG7+qQ56NgIsVjJlmRiXsaMkATG
      NQMet2481JDphfgP3pUCRRfQMIlo69Lha24RGp8uME56SDco3VAhSuSpKnaM4Cg3
      TkiIr5EEUCxVkq9CBLijEiDYceAOkVU94CDGsLz+UTje3lALRRY/ts+Uw3xM5QTR
      lSSY5Ca6Q1dZjuz97D3syUdMaDEjpLRPQ0WmP36vgceUE0BlnA==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEA16Vq6Gcq6/NbAG4rdJAXCmV9S9XxLyHmFQwGC4D1cbiE4aaT
      hDbaHbvGYpb7xpz/p2n0am7bOyIPdCIpLg4+JDm5nIQSFr9Ike+MOZu2osvj5Mqb
      uQhp18UsjTOXuUEwNKORokIHHi797S2k1+c72QtyQroWTJnuqBE2+niFPhY0b2wq
      lWREt73bG3cE4ZtzUhP9Sp2VgAx4C3Ewjc3/KH3f1KLXEr1xbJSRY68rYSx5Ihc7
      I9xfI2BAbnoVNbp4StoarnQZ+FdsRjEuhi9+9rQCkxruVLUgd5/Jue3hPHzIL6zv
      JMMNGrn8h7J+jA65b7sfu4XyW/9Ul1lpOkQgDQIDAQABAoIBAHu+cX2RDgE9sT+q
      +Ia31HDj0iV9TBw2wJfdQW7CfpXWQ3JVKxtYeotLYEjcyPesyctgsp+Mo4LoRaPn
      omfKRoB1G3ykENk6xMLxii7YmtIKW+jDFt7z5ACsJaeVLoBg1u+t2PkaGImKf63l
      Xk2CZEZlGhkOPZORVXDeCAVsuVDpUSxJtciacbRcJuBs4+N4BmOudhJx6vV5Q2Jp
      LbTsJbf3IHDUaH1uHgEJ+JgTkgnL851NgROTGp7lz3j/N8Uth5aDhph7GzqA5UNl
      d4AzGbTF2m1WtLHe3D5Papc9+sh4DGy0ARlf0Z3nzVrMnTSJ+g9QvpaX6YU5/YY6
      9PgRC2ECgYEA9DOa9vDX/ACspRZyOUgLNrg/yBqsvUiq2MXlZw/0iBeLqpIk8c/P
      TbDQztqxT0jWV1xIfbkaJj2j75oVSfTS+vD7P5TVhwfQuse7ZI3huVC65upGF3NG
      jzKZYWI5jcrKzUBy/2gnomaANfaFybgGevgTCYqrGufy8GzKpZ2UuQUCgYEA4hCg
      Q5OOONXLzYEKnsPRCuq08ZsITLL/1ko++usWF8VVEtzvf9yiNydJBx4mnSqZsOZp
      2OB9HSFyILzgdnW2eqX2DCHyXAj03QR7oxbYA6LNzIteZmFSlsMMwmlbxvQDpb5X
      MERPX4dEjnpl1ur6ahfRmRCJlu7t5YJY8Bjj2WkCgYBZ9ukQMIphfJ4d87cBA1me
      PyLARZN96FeIpN9uqKIdwQ7jOBQEQdrNdGZ4znikDOFqLcVHC/pmPC85BjrxlBBm
      AoGNWvePV4G+TfbrhJmz+9nfWE+aNA26k5mOFvG9Gwi7tRKopWZ0ne598uQ2/GTm
      yJ261itTLkCB8pJ1kShJQQKBgQDNc4DDiZHC04MCRJmLSrlsK3zA6z3yvudGMHnm
      fsq4Vc4Ic6RyVulSKLD0+BDt226MWAuwX+01EVVwrVduMXLjKntf8WYbAMTRLSbU
      RImTXF2e3LaxYxe1DpVFBo2zVccO1drVce+VCRFkT5bIaQumaflCG8Z/1qt8XydH
      JcfFqQKBgHXK17WWb7hYZn18qnvrPlVzr8UQJHmP22J63yPquECpOAHQjlvOKBw/
      Gn1Ji4CxCUox3sPKzrJ/lzb8jUgmzJHOtRaYxVjLNm8JqfTlr6U4ujoImI+YmGPu
      ehtugn5fJ9j5JCUimnQDB+8E5S+kRiUJlz6EzcHZ4Pl9AumNGhvn
      -----END RSA PRIVATE KEY-----