$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
 $primaryColor: #FC1B2C;
 $secondaryColor: #3B2E48;
 $backgroundColor: #F5F5F5;
 $footerBackgroundColor: #89898D;

 html, body {
   height: 100%;
 }

 body {
   background-color: $backgroundColor;
 }

 .page-content {
   position: relative;
   min-height: 100%;
   padding-bottom: 150px;

   @media (max-width: $screen-xs-max) {
       padding-bottom: 0;
   }
 }

 a {
   color: $secondaryColor;
 }

 a:hover, a:active, a:focus {
   color: $primaryColor;
 }

 .container {
   max-width: 970px;
 }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/activate/activate.scss';
@import 'account/edit/edit.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'contact/contact.scss';
@import 'main/main.scss';
@import 'common/buttons.scss';
@import 'common/form.scss';
@import 'common/layout.scss';
@import 'common/sidebar.scss';
@import 'common/social.scss';
@import 'common/table.scss';
@import 'common/typography.scss';
@import 'footer/footer.scss';
@import 'header/header.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
