$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
 $primaryColor: #FC1B2C;
 $secondaryColor: #3B2E48;
 $backgroundColor: #F5F5F5;
 $footerBackgroundColor: #56565a;

 .lt-ie9 .ng-hide {
   display: none !important;
 }
 
 html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

 html, body {
   height: 101%;
 }

 body {
   background-color: $backgroundColor;
 }

 .page-content {
   position: relative;
   min-height: 100%;
   padding-bottom: 150px;

   @media (max-width: $screen-xs-max) {
       padding-bottom: 0;
   }
 }

.ng-hide-animate {
  -webkit-transition:all linear 200ms;
  transition:all linear 200ms;

  &.ng-hide {
    opacity:0;
  }
}

img.loading.ng-hide-animate {
  display: block;
  margin: 10px auto;
}

 a {
   color: $primaryColor;
 }

 a:hover, a:active, a:focus {
   color: $secondaryColor;
 }

 .container {
   max-width: 970px;
 }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/activate/activate.scss';
@import 'account/edit/edit.scss';
@import 'account/login/login.scss';
@import 'admin/page/page.scss';
@import 'admin/products/products.scss';
@import 'admin/suppliers/suppliers.scss';
@import 'admin/upload/upload.scss';
@import 'admin/users/users.scss';
@import 'contact/contact.scss';
@import 'glossary/glossary.scss';
@import 'main/main.scss';
@import 'page/page.scss';
@import 'products/products.scss';
@import 'rating/rating.scss';
@import 'results/results.scss';
@import 'supplier/supplier.scss';
@import 'common/breadcrumbs.scss';
@import 'common/buttons.scss';
@import 'common/form.scss';
@import 'common/layout.scss';
@import 'common/pagination.scss';
@import 'common/print.scss';
@import 'common/sidebar.scss';
@import 'common/social.scss';
@import 'common/table.scss';
@import 'common/typography.scss';
@import 'footer/footer.scss';
@import 'header/header.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
