@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/clearfix";

.navbar-list-menu {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include clearfix();

  .dropdown-menu {
    border-radius: 0;

    > li {
      &.active a, a:hover, a:active, a:focus {
        background-color: $backgroundColor;
      }
    }
  }

  > li {
    float: left;
    line-height: 39px;
    padding-left: 18px;
    position: relative;

    & + li {
      margin-left: 10px;
    }

    a {
      color: darken($backgroundColor, 45%);
    }

    &.active a, a:hover, a:active, a:focus {
      text-decoration: none;
      color: #000;
    }

    span.caret {
      margin-left: 5px;
    }

    span.show {
      display: inline-block !important;
    }

    a[href='/'] {
      @extend .glyphicon;
      @extend .glyphicon-home;

      &:before {
        font-size: .8em;
        position: relative;
        top: -1px;
      }

      &:hover, &:focus, &:active {
        text-decoration: none;
      }

      span {
        display: none;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    float: none;
    display: block;
    text-align: center;

    > li {
      display: inline-block;
      float: none;
    }
  }
}

.navbar-static-link {
  margin-right: 8px;
}

.navbar-list-account {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;

  span.glyphicon {
    top: 4px;
    margin-right: 10px;
  }

  li {
    display: inline-block;

    & + li {
      margin-left: 6px;
    }

    a.btn {
      min-width: 112px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        min-width: 0;
        padding-left: 13px;
        padding-right: 13px;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    float: none;
    display: block;
    text-align: center;

    li {
      width: 50%;
      display: inline-block;
      & + li {
        margin-left: 0;
      }
      a.btn {
        display: block;
      }
    }
  }
}
