.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Page Edit

form.form-horizontal(ng-submit='update()', novalidate)
  .modal-body

    .panel.panel-default
      .panel-heading Publish
      .panel-body
        .form-group
          label.control-label.col-sm-2(for="Slug") Slug
          .col-sm-10
            input.form-control(id='Slug', type='text', ng-model='page.slug', ng-required)
            p.help-block {{ url }}

        .form-group
          label.control-label.col-sm-2(for="Visible") Visible
          .col-sm-10
            input(type='checkbox', id='Visible', ng-model='page.visible', bs-switch='', switch-off-text='No', switch-on-text='Yes')

        .form-group
          label.control-label.col-sm-2(for="Comments") Comments
          .col-sm-10
            input(type='checkbox', id='Comments', ng-model='page.comments', bs-switch='', switch-off-text='No', switch-on-text='Yes')

    .panel.panel-default(ng-if='revisions.length')
      .panel-heading History
      .panel-body
        .form-group
          label.control-label.col-sm-2(for="Revisions") Revisions
          .col-sm-10
            select.form-control(id='Revisions', ng-options='revisionLabel(i) for i in revisions', type='text', ng-model='revision', ng-required)
              option(value='', disabled, selected) Revert revision

    .panel.panel-default
      .panel-heading Content
      .panel-body

        .form-group
          label.control-label.col-sm-2(for="Title") Title
          .col-sm-10
            input.form-control(id='Title', type='text', ng-model='revision.title', ng-required)

        .form-group
          label.control-label.col-sm-2(for="Published") Published
          .col-sm-10
            input(type='checkbox', id='Published', ng-model='revision.published', bs-switch='', switch-off-text='No', switch-on-text='Yes')

        .form-group
          label.control-label.col-sm-2(for="Content") Content
          .col-sm-10
            textarea(id='Content', ckeditor='editorOptions', ng-model='revision.content')


  .modal-footer
    button.btn.btn-primary() Save
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
