.modal-header
  h3.modal-title Page Administration
  
form.form-horizontal(ng-submit='save(currentPage)', novalidate)
  .modal-body

      .form-group
        label.control-label.col-sm-2(for="currentPageTitle") Title
        .col-sm-10
          input.form-control(id='currentPageTitle', type='text', ng-model='currentPage.title', ng-required)
          
      .form-group
        label.control-label.col-sm-2(for="currentPageSlug") Slug
        .col-sm-10
          input.form-control(id='currentPageSlug', type='text', ng-model='currentPage.slug', ng-required)
          
      .form-group
        label.control-label.col-sm-2(for="currentPageContent") Content
        .col-sm-10
          textarea(id='currentPageContent', ckeditor, ng-model='currentPage.content')
        
      .form-group    
        .col-sm-10.col-sm-offset-2  
          .checkbox
            label
              input(type='checkbox', ng-model='currentPage.isActive')
              | Page active
          .checkbox
            label
              input(type='checkbox', ng-model='currentPage.enableComments')
              | Show comments
          .checkbox
            label
              input(type='checkbox', ng-model='currentPage.registrationRequired')
              | Require registration
              
  .modal-footer
    button.btn.btn-primary() Save
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
