extends ../../../layout/2_column

block content

  button.btn.btn-primary.pull-right(ng-click='create()') New page

  h1 Page Administration

  p
    | The page administration routes are restricted to users with the 'admin' role.

  table.table.table-striped(ng-show="pages.length")
    thead
      tr
        th Page
        th Visibility
        th Actions
    tbody
      tr(ng-repeat='page in pages')
        td
          a(ng-href='/{{ page.slug }}/', target='_blank') /{{ page.slug }}/
        td {{ page.visibility }}
        td.actions
          a(href='#', ng-click='edit(page)'): span.glyphicon.glyphicon-edit
          a(href='#', ng-click='delete(page.slug, page)'): span.glyphicon.glyphicon-trash
<<<<<<< HEAD
          a(ng-href='/{{page.slug}}/', target='_blank'): span.glyphicon.glyphicon-eye-open
=======
          a(ng-href='/{{ page.slug }}/', target='_blank'): span.glyphicon.glyphicon-eye-open
>>>>>>> feature/flat-pages
