extends ../../../layout/2_column

block content
  
  button.btn.btn-primary.pull-right(ng-click='modal()') New page
  
  h1 Page Administration
  
  p
    | The page administration routes are restricted to users with the 'admin' role.
    
  table.table.table-striped(ng-show="pages.length")
    thead
      tr
        th Title
        th Slug
        th Active
        th Comments
        th Registration
        th Actions
    tbody
      tr(ng-repeat='page in pages')
        td {{ page.title }}
        td {{ page.slug }}
        td
          span.glyphicon(ng-class='page.isActive ? "glyphicon-ok-circle": "glyphicon-remove-circle"')
        td 
          span.glyphicon(ng-class='page.enableComments ? "glyphicon-ok-circle": "glyphicon-remove-circle"')
        td 
          span.glyphicon(ng-class='page.registrationRequired ? "glyphicon-ok-circle": "glyphicon-remove-circle"') 
        td.actions
          a(href='#', ng-click='modal(page)'): span.glyphicon.glyphicon-edit
          a(href='#', ng-click='delete(page.slug, page)'): span.glyphicon.glyphicon-trash
