mixin media()
  .media(ng-repeat='item in items')
    .media-left
      img.media-object(src='http://placehold.it/64x64')
    .media-body
      h4.media-heading: a(ng-href='/products/{{ item._id }}') {{ item.name }}
      | {{ item.description }}

mixin pagination()
  hr
  .text-center
    pagination.pagination-sm(total-items='total', max-size='10', items-per-page='limit', ng-model='page', boundary-links='true')
  hr

mixin pageListingNotice(type)
  div(ng-hide='total')
    p No #{type} found.

  p(ng-hide='!total', page-count='', page-type='#{type}')

mixin ratings()
  div(rating, ng-model="ratings.averageRating", max="5", readonly="true")
  span.label.label-default(ng-if='ratings.averageRating') {{ ratings.averageRating | number: 2 }}
  p: a(ng-pluralize, count="ratings.reviews.length", ng-href='/products/{{ product._id }}/ratings', when="{'0': 'write a review', 'one': '1 review', 'other': '{} reviews'}")
