extends ../../layout/2_column

block content
  .table-content
    table.table.table-striped
      caption This is the table caption
      thead
        tr
          th A
          th Column title 2
          th Column title 3
          th Column title 4
      tbody
        tr
          td 1
          td Lorum
          td Lorum
          td Lorum
        tr
          td 2
          td Lorum
          td Lorum
          td Lorum
        tr
          td 3
          td Lorum
          td Lorum
          td Lorum
        tr
          td 4
          td Lorum
          td Lorum
          td Lorum
