.main-content .page-main {

  form {
    margin-top: 0;
  }

  .product-advanced-type {
    width: 50%;
    float: left;
  }

  .product-advanced-filters {
    width: 50%;
    float: left;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .product-advanced-actions {
    display: none;
  }
  
}

.main-search {
  text-align: center;
  .control-label {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.2em;
    margin-top: 20px;
  }
  .radio {
    display: inline-block;
    
    input {
      margin-top: 3px;
    }
    
    & + .radio {
      margin-left: 20px;
    }
  }
}
