extends ../../layout/1_column
include ../../app/mixins/results-helpers
include ../../app/mixins/form-helpers
include ../../app/admin/products/form-helpers

block content
  section.main-search  
    h1 Search
    
    form  
      .form-group
        .control-label Do you want options that provide pre-created/organised vocabulary?
        +switch('search', 'premadeVocabularies')
        
      .form-group(ng-if="search.premadeVocabularies")
        .control-label How should the vocabulary primarily be presented? 
        +radio('search', 'presentation', 'textOnly', 'Text only')
        +radio('search', 'presentation', 'textAndSymbolsOrPhotos', 'Text & Symbols or Photos')
        +radio('search', 'presentation', 'symbolsOrPhotos', 'Symbols or Photos Only')
  div.row.page-main
    div.col-sm-12
      hr
      div.text-center
        a.btn.btn-primary.btn-lg(ng-click='search()') Search
        a.btn.btn-secondary.btn-lg(ng-click='viewAll()') View all
