.main-content .page-main {

  form {
    margin-top: 0;
  }

  .product-advanced-type {
    width: 50%;
    float: left;
  }

  .product-advanced-filters {
    width: 50%;
    float: left;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .product-advanced-actions {
    display: none;
  }
}

.logged-in-panels {
  @media (min-width: 992px) {
    .panel-body {
      min-height: 252px;
    }
  }
}
