extends ../../layout/1_column
include ../../app/mixins/results-helpers
include ../../app/mixins/form-helpers
include ../../app/admin/products/form-helpers

block content
  ol.breadcrumb
      li: a(ui-sref='main') Home
      li.active Search

  section.main-search  
    
    .jumbotron
      h1 Search
      
      form  
        .panel.panel-default
          .panel-heading Do you want options that ONLY provide pre-created vocabulary?
          .panel-body
            +switch('filters', 'premadeVocabularies')
            
        // YES && NO PREMADE VOCABULARIES - SHOW AFTER FIRST SELECTION
        .panel.panel-default(ng-if="filters.premadeVocabularies === false || filters.premadeVocabularies === true", destroy='filters.accessMethods')
          .panel-heading How will the user access the solution? 
          .panel-body
            +checkbox('filters.accessMethods', 'touch', 'Touch')
            +checkbox('filters.accessMethods', 'mouseOrAlternative', 'Mouse or Mouse alternative')
            +checkbox('filters.accessMethods', 'eyegaze', 'Eyegaze')
            +checkbox('filters.accessMethods', 'switch', 'Switch')
          
        // YES - PREMADE VOCABULARIES
        .panel.panel-default(ng-if="filters.premadeVocabularies", destroy='filters.presentation')
          .panel-heading How should the vocabulary primarily be presented? 
          .panel-body
            +radio('filters', 'presentation', 'textOnly', 'Text only')
            +radio('filters', 'presentation', 'textAndSymbolsOrPhotos', 'Text & Symbols or Photos')
            +radio('filters', 'presentation', 'symbolsOrPhotos', 'Symbols or Photos Only')
          
        // TEXT ONLY
        .panel.panel-default(ng-if='filters.presentation === "textOnly"', destroy='filters.presentationText')
          .panel-heading How should the text be primarily be presented?
          .panel-body
            +radio('filters', 'presentationText', 'keyboard', 'Keyboard')
            +radio('filters', 'presentationText', 'singleWords', 'Single words')
            +radio('filters', 'presentationText', 'phrases', 'Phrases')
          
        // PRESENTATION -> KEYBOARD
        .panel.panel-default(ng-if='filters.presentationText === "keyboard"', destroy='filters.abbrExpansion')
          .panel-heading Does the vocabulary system allow for abbreviation expansion (e.g. omy expands to "On my way!")
          .panel-body
            +switch('filters', 'abbrExpansion')

        .panel.panel-default(ng-if='filters.presentationText === "keyboard"', destroy='filters.wordPrediction')
          .panel-heading Does the vocabulary system allow for word prediction?
          .panel-body
            +switch('filters', 'wordPrediction')
          
        // PRESENTATION -> SINGLE WORDS
        .panel.panel-default(ng-if='filters.presentationText === "singleWords"', destroy='filters.presentRelatedWords')
          .panel-heading Does the vocabulary present words that are linked to other related words on selecting? (e.g. I press "go to" the vocabulary presents places)
          .panel-body 
            +switch('filters', 'presentRelatedWords')
          
        .panel.panel-default(ng-if='filters.presentationText === "singleWords"', destroy='filters.wordsOrganisedStart')
          .panel-heading How are words on the start page largely organised?
          .panel-body
            +radio('filters', 'wordsOrganisedStart', 'core', 'Core words')
            +radio('filters', 'wordsOrganisedStart', 'categoryLinks', 'Category Links')
        
        .panel.panel-default(ng-if='filters.presentationText === "singleWords"', destroy='filters.wordsOrganisedDevice')
          .panel-heading How are words organised across the rest of the device?
          .panel-body
            +radio('filters', 'wordsOrganisedDevice', 'contextually', 'contextually (e.g. around activities)')
            +radio('filters', 'wordsOrganisedDevice', 'taxonomically', 'Taxonomically (e.g. in Catgeogies such as Food, Toys)')
            +radio('filters', 'wordsOrganisedDevice', 'similarMeaningLocations', 'Semantic Compaction')
            
        // PRESENTATION -> PHRASES ONLY
        .panel.panel-default(ng-if='filters.presentationText === "phrases"', destroy='filters.presentRelatedPhrases')
          .panel-heading Does the vocabulary present phrases that are linked to other related phrases on selecting? (e.g. I press "go to" the vocabulary presents places)
          .panel-body 
            +switch('filters', 'presentRelatedPhrases')
  
        .panel.panel-default(ng-if='filters.presentationText === "phrases"', destroy='filters.phrasesOrganisedStart')
          .panel-heading How are phrases on the start page largely organised?
          .panel-body
            +radio('filters', 'phrasesOrganisedStart', 'starterPhrases', 'Starter Phrases')
            +radio('filters', 'phrasesOrganisedStart', 'pragmaticStarters', 'Pragmatic Sentence Starters (e.g. "I want")')
            +radio('filters', 'phrasesOrganisedStart', 'categoryLinks', 'Category links (e.g. "Places I go")')
    
        .panel.panel-default(ng-if='filters.presentationText === "phrases"', destroy='filters.phrasesOrganisedDevice')
          .panel-heading How are phrases organised across the rest of the device?
          .panel-body
            +radio('filters', 'phrasesOrganisedDevice', 'contextually', 'Contextually (e.g. around activities)')
            +radio('filters', 'phrasesOrganisedDevice', 'taxonomically', 'Taxonomically (e.g. in Catgeogies such as Food, Toys)')
            +radio('filters', 'phrasesOrganisedDevice', 'similarMeaningLocations', 'Semantic Compaction')
    
        // NO - PREMADE VOCABULARIES
        .panel.panel-default(ng-if="filters.premadeVocabularies === false", destroy='filters.imageRepresentation')
          .panel-heading Should language be presented with:
          .panel-body
            +checkbox('filters.imageRepresentation', 'photos', 'Photos')
            +checkbox('filters.imageRepresentation', 'symbols', 'Symbols')
            +checkbox('filters.imageRepresentation', 'videos', 'Videos')                  
          
        // ONLY ALLOW SEARCH AFTER FIRST QUESTION HAS BEEN ANSWERED
        div(ng-if="filters.premadeVocabularies === false || filters.premadeVocabularies === true")
          p(ng-pluralize count='results' when="{ '0': 'No products found', 'one': '1 product found', 'other': '{} products found' }")
          button.btn.btn-primary.btn-lg(ng-disabled='!results', type='button', ng-click='applyFilters()') View Results