extends ../../layout/1_column
include ../../app/mixins/results-helpers
include ../../app/mixins/form-helpers
include ../../app/admin/products/form-helpers

block content
  div(ng-bind-html='content')
  p.text-center
    a.btn.btn-primary(href='/search') Search Products
