.btn {
  border-width: 0;
  border-radius: 0;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  text-shadow: none;
  @include transition(background-color ease 300ms);

  @media (max-width: $screen-xs-max) {
      display: block;
      width: 100%;
  }

  &:hover, &:active, &:focus {
    outline: 0;
    text-decoration: none;
  }
}

.btn-link {
  color: $secondaryColor;

  &:hover {
    color: $primaryColor;
  }
}

.btn-primary {
  background-color: $primaryColor;
  &:hover, &:active, &:focus {
    background-color: darken($primaryColor, 15%);
  }
}

.btn-secondary {
  background-color: $secondaryColor;
  color: #fff;
  &:hover, &:active, &:focus {
    background-color: lighten($secondaryColor, 15%);
    color: #fff;
  }
}

.btn-tertiary {
  background-color: darken($backgroundColor, 10%);
  color: #333;
  &:hover, &:active, &:focus {
    background-color: darken($backgroundColor, 15%);
    color: #333;
  }
}
