.main-content form {
  margin-top: 30px;
}

label {
  text-transform: capitalize;
}

select {
    border-radius: 0;
}

.form-control {
  border-radius: 0;
  &:active, &:focus {
    outline: 0;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    border: 1px solid darken($backgroundColor, 20%);
  }
}

.checkbox a {
  color: $primaryColor;
}

form .alert {
  margin-top: 20px;
}

.select2-container {
  width: 100%;
}

.select2-container .select2-choice {
  border-radius: 0;
  background-image: none;
  filter: none;
  border: 1px solid #ccc;
  line-height: 34px;
  height: 34px;
}

.select2-drop-active {
  border-color: #ccc;
}

.select2-container-multi.select2-container-active .select2-choices {
  border-color: #ccc;
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0 3px;
}
