.sidebar {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: $screen-xs-max) {
      display: none;
  }

  .donate {
    display: block;
    text-align: center;
  }

  h2 {
    color: $primaryColor;
  }

  h2:first-child {
    margin-top: 0;
  }
}
