.sidebar {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid darken($backgroundColor, 5%);
  position: static; // prevent affix sidebar from being positioned relative to this element

  @media (max-width: $screen-xs-max) {
      display: none;
  }

  .donate {
    display: block;
    text-align: center;
  }

  h2 {
    color: $primaryColor;
  }

  h2:first-child {
    margin-top: 0;
  }
}
