.sidebar {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid darken($backgroundColor, 5%);
  position: static; // prevent affix sidebar from being positioned relative to this element

  .donate {
    display: block;
    text-align: center;
  }

  h2 {
    color: $primaryColor;
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  .btn {
    display: block;

    & + .btn {
      margin-top: 10px;
    }
  }

  .list-group-item-heading {
    margin-bottom: 0;
    font-size: 1em;
  }

}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}
