table {
  margin-bottom: 0;

  a {
    color: $primaryColor;
  }

  > thead {
    > tr {
      > th,
      > td {
        border-top: 0;
        border-bottom: 5px solid #bebec0;
      }
    }
  }
}

caption {
  font-size: 1.4em;
  font-weight: bold;
  color: $secondaryColor;
  text-align: left;
  margin-bottom: 10px;
}
