table {
  margin-bottom: 0;

  a {
    color: $primaryColor;
  }

  > thead {
    > tr {
      > th,
      > td {
        border-top: 0;
        border-bottom: 5px solid #bebec0;
      }
    }
  }

  .glyphicon-remove-circle {
    color: #d9534f;
  }

  .glyphicon-ok-circle {
    color: #419641;
  }

  th[colspan] {
    background: $secondaryColor;
    color: #fff;
  }

}

.table-wrapper {
  overflow-x: auto;
}

caption {
  font-size: 1.4em;
  font-weight: bold;
  color: $secondaryColor;
  text-align: left;
  margin-bottom: 10px;
}

th.icon,
td.icon {
  text-align: center;
  width: 80px;
}

/**
 * Table cell containing action icons
 */
th.preview {
  width: 200px;
}

th.actions,
td.actions {
  text-align: center;
  width: 100px;

  a {
    color: $secondaryColor;
  }

  a:hover, a:focus, a:active {
    color: $primaryColor;
  }

  a + a {
    margin-left: 5px;
  }
}

tr.edit-mode {
  background: $secondaryColor !important;
  color: #fff;

  a {
    color: #fff;
  }

  a:hover, a:focus, a:active {
    color: $backgroundColor;
  }
}
