extends ../../../views/Email

block content
	| Hi #{user.firstName}
	br
	br
	| Thanks for creating an account on Speech Bubble.
	br
	br
	| Please activate your account by clicking #[a(href='#{activationUrl}') here].
	br
