extends ../../../layout/2_column

block sidebar
  form(ng-submit='search()')
    .form-group
      label.control-label Search
      input.form-control(ng-model='searchText')
        
    .form-group
      a.pull-right.btn.btn-link(ng-click='cancel()') Clear
      | 
      button.btn.btn-primary(type='submit') Search

block content
  h1 User Administration
  
  .table-wrapper
    table.table.table-striped
      thead
        tr
          th Email
          th Name
          th Role
          th Active
          th Subscribe
          th Actions
      tbody
        tr(ng-repeat='user in filteredUsers | from:((currentPage - 1) * itemsPerPage) | limitTo: itemsPerPage')
          td {{ user.email }}
          td {{ user.firstName }} {{ user.lastName }}
          td
            select(ng-model='user.role', ng-options='role as role for role in roles', ng-change='updateRole(user)')
              option(value='', disabled, selected) Please select
              
          td: input(type='checkbox', ng-model='user.active', ng-change='updateStatus(user)')
          td: input(type='checkbox', ng-model='user.subscribe', ng-change='updateSubscription(user)')
          td.actions: a(href='#', ng-click='delete(user.email, user)'): span.glyphicon.glyphicon-trash
  
  .text-center
    pagination.pagination-sm(total-items='totalItems', max-size='10', items-per-page='itemsPerPage', ng-model='currentPage', boundary-links='true')
