extends ../../../layout/2_column
include ../../mixins/results-helpers

block append sidebar
  h2 Narrow results
  form
    .form-group
      label.control-label(for='Term') Search
      input.form-control(id='Term', name='term', ng-model='search.term')

    .form-group
      a.btn.btn-tertiary(href='/admin/users', ng-click='search.term = ""') Clear

block content
  h1 User Administration

  div(ng-controller='ResultsCtrl')
    +pageListingNotice('users')
    div(ng-hide='!total')
      +pagination()
      .table-wrapper
        table.table.table-striped
          thead
            tr
              th Email
              th Name
              th Role
              th.icon Active
              th.icon Subscribe
              th.actions Actions
          tbody
            tr(ng-repeat='item in items')
              td: a(href='mailto:{{ item.email }}'){{ item.email }}
              td {{ item.firstName }} {{ item.lastName }}
              td {{ item.role }}
              td.icon
                span.glyphicon(ng-class='item.active ? "glyphicon-ok-circle": "glyphicon-remove-circle"')
              td.icon
                span.glyphicon(ng-class='item.subscribe ? "glyphicon-ok-circle": "glyphicon-remove-circle"')

              td.actions
                a(href='#', ng-click='modal(item)'): span.glyphicon.glyphicon-edit
                a(href='#', ng-click='delete(item.email, item)'): span.glyphicon.glyphicon-trash
      +pagination()
