extends ../../../layout/2_column

block sidebar
  form(action='', method='GET')
    .form-group
      label.control-label(for='Term') Search
      input.form-control(id='Term', name='term', ng-model='term')

    .form-group
      a.pull-right.btn.btn-link(href='/admin/users', target='_self') Clear
      button.btn.btn-primary(type='submit') Search

block content
  h1 User Administration
  
  hr
  .text-center
    pagination.pagination-sm(total-items='total', max-size='10', items-per-page='limit', ng-model='page', boundary-links='true', ng-change='')
  hr

  .table-wrapper
    table.table.table-striped
      thead
        tr
          th Email
          th Name
          th Role
          th.icon Active
          th.icon Subscribe
          th.actions Actions
      tbody
        tr(ng-repeat='user in users')
          td: a(href='mailto:{{ user.email }}'){{ user.email }}
          td {{ user.firstName }} {{ user.lastName }}
          td {{ user.role }}
          td.icon
            span.glyphicon(ng-class='user.active ? "glyphicon-ok-circle": "glyphicon-remove-circle"')
          td.icon
            span.glyphicon(ng-class='user.subscribe ? "glyphicon-ok-circle": "glyphicon-remove-circle"')

          td.actions
            a(href='#', ng-click='modal(user)'): span.glyphicon.glyphicon-edit
            a(href='#', ng-click='delete(user.email, user)'): span.glyphicon.glyphicon-trash

  hr
  .text-center
    pagination.pagination-sm(total-items='total', max-size='10', items-per-page='limit', ng-model='page', boundary-links='true', ng-change='')
  hr
