{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/google.html" as google %}

{% block html_attribs %} ng-app="speechBubble"{% endblock %}
{% block body_attribs %} class="{% if current_user.is_authenticated() %}admin-user{% endif %}"{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='script/vendor/angular/angular.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/vendor/lodash/lodash.compat.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='script/vendor/angular-resource/angular-resource.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/vendor/checklist-model.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='script/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/directives.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <header style="width:100%; height: 130px; background-color: lightgrey; margin-bottom: 10px;">
            <div id="user-widget">
                {% if current_user.is_authenticated() %}
                    {{ current_user.email }} <a href="{{ url_for('security.logout') }}">Logout</a> |
                    <a href="{{ url_for('security.change_password') }}">Change Password</a>
                {% else %}
                    <a href="{{ url_for('security.login') }}">Login</a> |
                    <a href="{{ url_for('security.register') }}">Register</a>
                {% endif %}
            </div>
        </header>

        <nav class="navbar navbar-default navbar-static-top main-nav" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">Software</a></li>
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                </div>
            </div>
        </nav>

        {% include "helpers/flash-messages.html" %}

        {% block main_content %}
        {% endblock %}

        {% include "helpers/admin-nav.html" %}
    </div>

    {% block scripts %}
        {{ super() }}
        {{ google.analytics(account=config['GOOGLE_ANALYTICS_CODE']) }}

    {% endblock %}
{% endblock %}