{% extends "base.html" %}

{% from 'form_macros.html' import input_label, input_radio_fields, input_text_field %}

{% block main_content %}
    <div class="page-header">
        <h1>Create a new item</h1>
    </div>
    <div class="container" ng-controller="EditFormCtrl">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                {{ input_label(form.name) }}

                {{ input_text_field(form.name) }}
            </div>
            <div class="form-group">
                {{ input_label(form.product_type) }}

                {{ input_radio_fields(form.product_type) }}
            </div>
            <div class="form-group" {{ angular_display_rule(form.hardware_type)|safe}}>
                {{ input_label(form.hardware_type) }}

                {{ input_radio_fields(form.hardware_type) }}
            </div>
        </form>
    </div>

{% endblock %}


