{#
    Twitter bootstrap styled, angular enabled, form elements.
 #}

{% macro input_label(field) -%}
    <label for="{{ field._key }}" class="control-label col-sm-6">{{ field.label }}</label>
{%- endmacro %}

{% macro input_error(field) -%}
    <span class="field-errors">{{ "{{" + field._key + "}}" }}</span>
{%- endmacro %}

{% macro input_radio(field) -%}
    <div class="col-sm-6">
    {% for value, name in field._choices %}
        <div class="radio">
            <input type="radio" value="{{ value }}" name="{{ field._key }}" ng-model="data['{{ field._key }}']"> {{ name }}
        </div>
    {% endfor %}
    </div>
{%- endmacro %}

{% macro input_checkbox(field) -%}
    <div class="col-sm-6">
    {% for value, name in field._choices %}
        <div class="radio">
            <input type="checkbox" checklist-value="{{ value }}" checklist-model="data.{{ field._key }}"> {{ name }}
        </div>
    {% endfor %}
    </div>
{%- endmacro %}

{% macro input_text(field) -%}
    <div class="col-sm-5">
        <input type="text" ng-model="data['{{ field._key }}']" name="{{ field._key }}" class="form-control">
    </div>
{%- endmacro %}

{% macro input_row_helper(field, field_helper) -%}
    <div class="form-group" {{ angular_display_rule(field)|safe}}>
        {{ input_label(field) }}

        {{ field_helper(field) }}
    </div>
{%- endmacro %}