{% extends "base.html" %}

{% from 'helpers/form_macros.html' import input_radio, input_text, input_row_helper %}

{% block main_content %}
    <div class="page-header">
        <h1>Create a new product</h1>
    </div>
    <div class="container edit-form" ng-controller="EditFormCtrl">
        <form name="form">

        {{ input_row_helper(form.name, input_text) }}
        {{ input_row_helper(form.product_type, input_radio) }}
        {{ input_row_helper(form.hardware_type, input_radio) }}

        <button ng-click="create()" class="pull-right btn btn-primary">Create Product &raquo;</button>

        </form>
    </div>

{% endblock %}


