{% extends "base.html" %}

{% from 'helpers/form_macros.html' import input_radio, input_text, input_helper %}

{% block main_content %}
    <h1>Create a new product</h1>

    <div class="edit-form" ng-controller="EditFormCtrl">

        {{ input_helper(form.name, input_text) }}
        {{ input_helper(form.product_type, input_radio) }}
        {{ input_helper(form.hardware_type, input_radio) }}

        <div sb-show-if-visible="hardware_type" style="clear: both;">
            <div ng-show="form_data.hardware_type=='lowtech'">
                Some content explaining what low tech hardware is about
            </div>

            <div ng-show="form_data.hardware_type=='simple'">
                Some content explaining what simple hardware is about
            </div>

            <div ng-show="form_data.hardware_type=='advanced'">
                Some content explaining what advanced hardware is about
            </div>
        </div>

        <button ng-click="create()" class="pull-right btn btn-primary">Create Product &raquo;</button>

        </form>
    </div>

{% endblock %}


