{% extends "base.html" %}

{% block sidebar %}

    <div ng-controller="EditSideBarCtrl">

        <div>
            <h4>Available actions</h4>

            {% if not awaiting_moderation %}
            <a href="#" class="btn btn-primary btn-block moderation-action" ng-click="product.save($event)">Save draft</a>
            <a href="#" class="btn btn-primary btn-block moderation-action" ng-click="product.publishRequest($event)">Finalise</a>
            <a href="#" class="btn btn-primary btn-block moderation-action" ng-click="product.delete($event)">Delete draft</a>
            {% else %}
            <a href="#" class="btn btn-primary btn-block moderation-action" ng-click="product.unlockForEditing($event)">Unlock and continue editing</a>
            {% endif %}
        </div>

        <h3>Document stats</h3>
        <table class="table">
        <tr>
            <td>Owner</td>
            <td>{{ "{{ stats.owner }}" }}</td>
        </tr>
        <tr>
            <td>Created date</td>
            <td>{{ "{{ stats.created }}" }}</td>
        </tr>
        <tr>
            <td>Last edit</td>
            <td>{{ "{{ stats.updated }}" }}</td>
        </tr>
    </table>

    </div>



{% endblock %}

{% block main_content %}

    <div class="row" ng-controller="EditFormCtrl" ng-init="product.load('{{ object_id }}', '{{ owner_id }}')">

    <div class="page-header">
        <h1>{% if awaiting_moderation %}Awaiting moderation{% else %}Editing {{ product.get_type_name() }}{% endif %}</h1>
    </div>

        <div flash-alert active-class="in alert" class="fade">
            <span class="alert-message">{{ "{{ flash.message }}" }}</span>
        </div>

        <div class="col-sm-8">
            <div class="row">

                <div class="row">
                    {% if awaiting_moderation %}
                        <div class="col-sm-12">
                            <p>This draft will be reviewed by our moderators.</p>

                            <p>We will notify you if amendments are required, or when the draft is published.</p>
                        </div>
                    {% else %}
                        {% block form_content %}
                        {% endblock %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}



