include ../../mixins/product-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Comparing {{ products.length }} {{ products[0].type | type | lowercase }} products
.modal-body
  table.table.table-striped
    thead
      tr
        th
        th.text-center(ng-repeat='product in products') {{ product.name }}
    tbody
      +compareThumbnail()
      +compareRating()
      +tickRow('Discontinued', 'product.discontinued')
      +compareFormsOfRepresentation()
      tr
        th Speech type options
        td.text-center(ng-repeat='product in products')
          +textLineIf('Synthesised', 'product.features.speechTypeSynthesised')
          +textLineIf('Recorded', 'product.features.speechTypeRecorded')
          +textLineIf('-', '!product.features.speechTypeSynthesised && !product.features.speechTypeRecorded')









      +compareAccessMethods()
      +compareViewActions()
