include ../mixins/form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Review

form.form-horizontal(name='form', ng-submit='save(form)', novalidate)
  .modal-body
    .form-group(ng-class='{ "has-success": form.rating.$valid && form.$submitted,\
    "has-error": form.rating.$invalid && form.$submitted }')
      label.control-label.col-sm-2(for="rating") Rating
      .col-sm-10
        span.form-rating(rating, ng-model="review.rating", min="1", max="5")
        input(type='hidden', name='rating', id='rating', ng-model='review.rating', required='')
        p.help-block(ng-show='form.rating.$error.required && form.$submitted')
          | Please select a rating between 1 and 5

    +textarea('review', 'comment', 'Comments', 'form')

  .modal-footer
    button.btn.btn-primary() Create
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
