extends ../../layout/2_column
include ../mixins/results-helpers
block content
  button.btn.btn-primary.pull-right(ng-click='create()', ng-if='isLoggedIn()') Review
  h1 {{ ratings.product.name }}
  +ratings('ratings.average', 'ratings.product._id')

  hr

  div.panel.panel-default(ng-repeat='review in ratings.reviews | reverse')
    div.panel-heading
      | {{ review.author.firstName }}
      div.pull-right(rating, ng-model="review.rating", max="5", readonly="true")
    div.panel-body
      | {{ review.comment }}
