include ../../../mixins/form-helpers
include ../form-helpers
.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Software product
form.form-horizontal(name='form', ng-submit='save(form)', novalidate)
  .modal-body
    .panel.panel-default
      .panel-heading Product Details
      .panel-body
        input(type='hidden', ng-init='product.type = "ProductSoftware"')
        +productDetails()

    +productScreenshots()
    +productVideos()
    +imageRepresentationSupported()
    +speechTypeOptions()
    +price()
    +enviroControl()

    .panel.panel-default
      .panel-heading Software can control control a separate computer/device
      .panel-body
        +switch('product.features', 'controlAnotherDeviceFromSoftware')

    .panel.panel-default
      .panel-heading Software can control operating system
      .panel-body
        +switch('product.features', 'controlOperatingSystemFromSoftware')

    +addLinks('supportLinks', 'Support URLs')
    +addLinks('purchaseLinks', 'Purchase URLs')
    +addLinks('moreInformationLinks', 'More information URLs')

    .panel.panel-default
      .panel-heading Editing options
      .panel-body
        textarea.form-control(ng-model='product.features.editingOptions')

    .panel.panel-default
      .panel-heading Visual options
      .panel-body
        +checkbox('product.features.visualOptions', 'zoom', 'Zoom')
        +checkbox('product.features.visualOptions', 'cellHighlight', 'Cell Highlight')
        +checkbox('product.features.visualOptions', 'changeableCellHighlight', 'Changeable Cell Highlight')
        +checkbox('product.features.visualOptions', 'editableFontStyles', 'Editable font styles')

        .panel.panel-default
          .panel-heading More information
          .panel-body
            textarea.form-control(ng-model='product.features.visualOptionsMoreInfo')

    .panel.panel-default
      .panel-heading Supported devices
      .panel-body
        ui-select(multiple, search-enabled, reset-search-input='true', ng-model="product.supportedDevices")
          ui-select-match(placeholder="Select a devices") {{$item.name}}
          ui-select-choices(repeat="item in deviceOptions | filter: $select.search", refresh='refreshDevices($select.search)', refresh-delay='500')
            div {{item.name}}

    +supportedOperatingSystems()
    +vocabularies()
    +accessMethods()
    +productRevisions('product')

  +draftActions()
