include ../../../mixins/form-helpers
include ../form-helpers
.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Software product
form.form-horizontal(name='form', novalidate)
  fieldset(ng-disabled='isSaving')
    .modal-body
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation'): a(href='#', data-target='#{{ product._id }}tabBasic', aria-controls='basic', role='tab', data-toggle='tab') Basic
        li(role='presentation'): a(href='#', data-target='#{{ product._id }}tabFeatures', aria-controls='basic', role='tab', data-toggle='tab') Features
        li(role='presentation'): a(href='#', data-target='#{{ product._id }}tabCostSupport', aria-controls='basic', role='tab', data-toggle='tab') Costs &amp; Support
        li(role='presentation', ng-if='revisions.length'): a(href='#', data-target='#{{ product._id }}tabVersions', aria-controls='basic', role='tab', data-toggle='tab') Versions

      .tab-content
        .tab-pane.active(id="{{ product._id }}tabBasic", role='tabpanel')
          .panel.panel-default
            .panel-heading Product Details
            .panel-body
              input(type='hidden', ng-init='product.type = "ProductSoftware"')
              +productDetails()

          +productScreenshots()
          +productVideos()
          +addLinks('purchaseLinks', 'Purchase URLs')
          +addLinks('moreInformationLinks', 'More information URLs')

        .tab-pane(id="{{ product._id }}tabFeatures", role='tabpanel')
          +speechTypeOptions()
          +enviroControl()
          .panel.panel-default
            .panel-heading Software can control control a separate computer/device
              span(glossary='55b5ee9323ef0c6c0b2cbd9f')
            .panel-body
              +switch('product.features', 'controlAnotherDeviceFromSoftware')

          .panel.panel-default
            .panel-heading Software can control operating system
              span(glossary='55b5ee9323ef0c6c0b2cbd9f')
            .panel-body
              +switch('product.features', 'controlOperatingSystemFromSoftware')

          .panel.panel-default
            .panel-heading Editing options
            .panel-body
              textarea.form-control(ng-model='product.features.editingOptions')

          .panel.panel-default
            .panel-heading Visual options
            .panel-body
              +checkbox('product.features.visualOptions', 'zoom', 'Zoom')
              +checkbox('product.features.visualOptions', 'cellHighlight', 'Cell Highlight')
              +checkbox('product.features.visualOptions', 'changeableCellHighlight', 'Changeable Cell Highlight')
              +checkbox('product.features.visualOptions', 'editableFontStyles', 'Editable font styles')

              .panel.panel-default
                .panel-heading More information
                .panel-body
                  textarea.form-control(ng-model='product.features.visualOptionsMoreInfo')

          .panel.panel-default
            .panel-heading Supported devices
            .panel-body
              ui-select(multiple, search-enabled, reset-search-input='true', ng-model="product.features.supportedDevices")
                ui-select-match(placeholder="Select a devices") {{$item.name}}
                ui-select-choices(repeat="item in deviceOptions | filter: $select.search", refresh='refreshDevices($select.search)', refresh-delay='500')
                  div {{item.name}}

          +supportedOperatingSystems()
          +vocabularies()
          +accessMethods()

        .tab-pane(id="{{ product._id }}tabCostSupport", role='tabpanel')
          +price()
          +addLinks('supportLinks', 'Support URLs')

       .tab-pane(id="{{ product._id }}tabVersions", role='tabpanel', ng-if='revisions.length')
          +productRevisions('product')

      +draftActions()
