extends ../../../layout/2_column

block content
  button.btn.btn-primary.pull-right(ng-click='create()') New supplier
  h1 Supplier Administration
  
  table.table.table-striped
    thead
      tr
        th Name
        th Website
        th Regions
        th.actions Actions
    tbody
      tr(ng-repeat='supplier in suppliers | from:((currentPage - 1) * suppliersPerPage) | limitTo: suppliersPerPage')
        td {{ supplier.name }}
        td: a(ng-href='{{ supplier.url }}', target='_blank') {{ supplier.url }}
        td {{ supplier.regions.join(', ') }}
        td.actions
          a(href='#', ng-click='edit(supplier)'): span.glyphicon.glyphicon-edit
            
  .text-center
    pagination.pagination-sm(total-items='suppliers.length', max-size='10', items-per-page='suppliersPerPage', ng-model='currentPage', boundary-links='true')
