include ../../../mixins/form-helpers
include ../form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Access Solutions product

form.form-horizontal(name='form', novalidate)
  fieldset(ng-disabled='isSaving')
    .modal-body
      .panel.panel-default
        .panel-heading Product Details
        .panel-body
          input(type='hidden', ng-init='product.type = "ProductAccessSolution"')
          +productDetails()

      .panel.panel-default
        .panel-heading Category
        .panel-body
          +radio('product.features', 'category', 'switch', 'Switch')
          +radio('product.features', 'category', 'eyegaze', 'Eyegaze')
          +radio('product.features', 'category', 'mouse', 'Mouse')
          +radio('product.features', 'category', 'alternative', 'Alternative/Keyboard')
          +radio('product.features', 'category', 'force', 'Movement/force')
          +radio('product.features', 'category', 'discrete', 'Discrete')
          +radio('product.features', 'category', 'gross', 'Gross')

      .panel.panel-default
        .panel-heading Output
        .panel-body
          +radio('product.features', 'output', 'binaryOneSwitch', 'Binary - 1 Switch')
          +radio('product.features', 'output', 'binaryMultipleSwitch', 'Binary - Multiple switched')
          +radio('product.features', 'output', 'proportional', 'Proportional')

      +productImages()
      +productVideos()
      +vocabularies()
      +price()
      +productRevisions('product')

    +draftActions()
