include ../../../mixins/form-helpers
include ../form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Access Solutions product

form.form-horizontal(name='form', novalidate)
  fieldset(ng-disabled='isSaving')
    .modal-body
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation'): a(href='#', data-target='#{{ product._id }}tabBasic', aria-controls='basic', role='tab', data-toggle='tab') Basic
        li(role='presentation'): a(href='#', data-target='#{{ product._id }}tabFeatures', aria-controls='basic', role='tab', data-toggle='tab') Features
        li(role='presentation'): a(href='#', data-target='#{{ product._id }}tabCostSupport', aria-controls='basic', role='tab', data-toggle='tab') Costs &amp; Support
        li(role='presentation', ng-if='revisions.length'): a(href='#', data-target='#{{ product._id }}tabVersions', aria-controls='basic', role='tab', data-toggle='tab') Versions

      .tab-content
          .tab-pane.active(id="{{ product._id }}tabBasic", role='tabpanel')
            .panel.panel-default
              .panel-heading Product Details
              .panel-body
                input(type='hidden', ng-init='product.type = "ProductAccessSolution"')
                +productDetails()

            +productImages()
            +productVideos()
          .tab-pane(id="{{ product._id }}tabFeatures", role='tabpanel')
            .panel.panel-default
              .panel-heading Device type
                span(glossary='5654e3bfa1146380160a83fb')
              .panel-body
                +radio('product.features', 'category', 'Switch', 'Switch')
                +radio('product.features', 'category', 'Eyegaze', 'Eye Gaze System')
                +radio('product.features', 'category', 'Mouse', 'Mouse')
                +radio('product.features', 'category', 'Keyboard', 'Keyboard')
                +radio('product.features', 'category', 'Brain', 'Brain Control interface')

            .panel.panel-default
              .panel-heading Input required
                span(glossary='5654e507a1146380160a84c2')
              .panel-body
                +radio('product.features', 'input', 'discrete', 'Single body movement - Discrete')
                +radio('product.features', 'input', 'gross', 'Single body movement - Gross')
                +radio('product.features', 'input', 'coordinated', 'Co-ordinated body movement')
                +radio('product.features', 'input', 'muscle', 'Muscle (NB: EMG and EEG)')

            .panel.panel-default
              .panel-heading Typical body part that controls (multiple)
                span(glossary='5654e554a1146380160a84e4')
              .panel-body
                +checkbox('product.features.canBeControlledBy', 'hand', 'Hand')
                +checkbox('product.features.canBeControlledBy', 'eye', 'Eye')
                +checkbox('product.features.canBeControlledBy', 'head', 'Head')
                +checkbox('product.features.canBeControlledBy', 'mouth', 'Mouth')
                +checkbox('product.features.canBeControlledBy', 'arm', 'Arm')
                +checkbox('product.features.canBeControlledBy', 'knee', 'Knee')
                +checkbox('product.features.canBeControlledBy', 'elbow', 'Elbow')
                +checkbox('product.features.canBeControlledBy', 'muscle', 'Muscle')
                +checkbox('product.features.canBeControlledBy', 'other', 'Other')

                textarea.form-control(ng-show='product.features.canBeControlledBy.other', destroy='canBeControlledByOtherDetails', ng-model='product.features.canBeControlledByOtherDetails')

            .panel.panel-default
              .panel-heading Output
                span(glossary='5654e5e6a1146380160a84e5')
              .panel-body
                +radio('product.features', 'output', 'binaryOneSwitch', 'Binary - 1 Switch')
                +radio('product.features', 'output', 'binaryMultipleSwitch', 'Binary - 2 or more switches (e.g. also includes keyboard)')
                +radio('product.features', 'output', 'proportional', 'Proportional')

            <!-- Eyegaze only -->
            .panel.panel-default(ng-show='product.features.category === "Eyegaze"')
              .panel-heading Tracking technology
              .panel-body
                +checkbox('product.features.eyegaze.technology',  'bright', 'Bright eye')
                +checkbox('product.features.eyegaze.technology', 'dark', 'Dark eye')

              .panel-heading Head movement velocity
              .panel-body
                +input('product.features.eyegaze', 'number', 'headvelocity', 'cm/s')

              .panel-heading Minimum operating distance
              .panel-body
                +input('product.features.eyegaze', 'number', 'operatingdistance', 'cm')

              .panel-heading Tracking recovery time
              .panel-body
                +input('product.features.eyegaze', 'number', 'trackRecovery', 'ms')

              .panel-heading Track status clarity
              .panel-body
                +checkbox('product.features.eyegaze.trackStatus', 'visualisation', 'Visualisation')
                +checkbox('product.features.eyegaze.trackStatus', 'video', 'Live video')

              .panel-heading Monocular / Binocular options
              .panel-body
                +checkbox('product.features.eyegaze.ocularity', 'Monocular', 'Monocular')
                +checkbox('product.features.eyegaze.ocularity', 'Binocular', 'Binocular')

              .panel-heading Selection options
              .panel-body
                +checkbox('product.features.eyegaze.selection', 'dwell', 'Dwell')
                +checkbox('product.features.eyegaze.selection', 'switch', 'Switch')
                +checkbox('product.features.eyegaze.selection', 'blink', 'Blink')

            .panel.panel-default
              .panel-heading Computer control options (multiple)
              .panel-body
                +checkbox('product.features.computerControl', 'keyboard', 'Keyboard')
                .panel.panel-default(ng-if="product.features.computerControl.keyboard")
                  .panel-heading Is additional software required to make this work?
                  .panel-body
                    +switch('product.features.computerControl', 'additionalSoftwareKeyboard')

                .panel.panel-default(ng-if="product.features.computerControl.keyboard")
                  .panel-heading Wired or Wireless Keyboard Support?
                  .panel-body
                    +checkbox('product.features.computerControl', 'wiredKeyboard', 'Wired')
                    +checkbox('product.features.computerControl', 'wirelessKeyboard', 'Wireless')


                +checkbox('product.features.computerControl', 'mouse', 'Mouse')
                .panel.panel-default(ng-if="product.features.computerControl.mouse")
                  .panel-heading Is additional software required to make this work?
                  .panel-body
                    +switch('product.features.computerControl', 'additionalSoftwareMouse')

                .panel.panel-default(ng-if="product.features.computerControl.keyboard")
                  .panel-heading Wired or Wireless Mouse Support?
                  .panel-body
                    +checkbox('product.features.computerControl', 'wiredMouse', 'Wired')
                    +checkbox('product.features.computerControl', 'wirelessMouse', 'Wireless')


            .panel.panel-default
              .panel-heading Mounting options (multiple)
              .panel-body
                +checkbox('product.features.mountingOptions', 'oneQuarterInchThread', '1/4" thread')
                +checkbox('product.features.mountingOptions', 'oneEighthInchThread', '1/8" thread')
                +checkbox('product.features.mountingOptions', 'vesa', 'VESA')
                +checkbox('product.features.mountingOptions', 'suction', 'Suction')
                +checkbox('product.features.mountingOptions', 'magnetic', 'Magnets')
                +checkbox('product.features.mountingOptions', 'standalone', 'Standalone')
                +checkbox('product.features.mountingOptions', 'other', 'Other')

                textarea.form-control(ng-show='product.features.mountingOptions.other', destroy='mountingOptionsOtherDetails', ng-model='product.features.mountingOptionsOtherDetails')

          .tab-pane(id="{{ product._id }}tabCostSupport", role='tabpanel')
            +price()
            +addLinks('supportLinks', 'Support URLs')

          .tab-pane(id="{{ product._id }}tabVersions", role='tabpanel', ng-if='revisions.length')
            +productRevisions('product')

        +draftActions()
