include ../../../mixins/form-helpers
include ../form-helpers
.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Low-tech product
form.form-horizontal(name='form', novalidate)
  fieldset(ng-disabled='isSaving')
    .modal-body
      .panel.panel-default
        .panel-heading Product Details
        .panel-body
          input(type='hidden', ng-init='product.type = "ProductLowTech"')
          +productDetails()

      +productImages()
      +imageRepresentationSupported()
      +price()
      +addLinks('supportLinks', 'Support URLs')
      +addLinks('purchaseLinks', 'Purchase URLs')
      +addLinks('moreInformationLinks', 'More information URLs')
      .panel.panel-default
        .panel-heading 
          | What access method is this designed for? (multiple allowed)
          span(glossary='556781785719a8bb50f5e542')
        .panel-body
          +checkbox('product.features.accessMethods', 'finger', 'Finger pointing')
          +checkbox('product.features.accessMethods', 'grossPointing', 'Fist pointing')
          +checkbox('product.features.accessMethods', 'eyePointing', 'Eye pointing')
          +checkbox('product.features.accessMethods', 'scanning', 'Partner assisted scan')
      +productRevisions('product')

    +draftActions()
