include ../../../mixins/form-helpers
include ../form-helpers
.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Low-tech product
form.form-horizontal(name='form', novalidate)
  fieldset(ng-disabled='isSaving')
    .modal-body
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation'): a(href='#', data-target='#{{ product._id }}tabBasic', aria-controls='basic', role='tab', data-toggle='tab') Basic
        li(role='presentation'): a(href='#', data-target='#{{ product._id }}tabFeatures', aria-controls='basic', role='tab', data-toggle='tab') Features
        li(role='presentation'): a(href='#', data-target='#{{ product._id }}tabCostSupport', aria-controls='basic', role='tab', data-toggle='tab') Costs &amp; Support
        li(role='presentation', ng-if='revisions.length'): a(href='#', data-target='#{{ product._id }}tabVersions', aria-controls='basic', role='tab', data-toggle='tab') Versions

      .tab-content
        .tab-pane.active(id="{{ product._id }}tabBasic", role='tabpanel')
          .panel.panel-default
            .panel-heading Product Details
            .panel-body
              input(type='hidden', ng-init='product.type = "ProductLowTech"')
              +productDetails()
          +productImages()
          +productVideos()
          +addLinks('purchaseLinks', 'Purchase URLs')
          +addLinks('moreInformationLinks', 'More information URLs')


        .tab-pane(id="{{ product._id }}tabFeatures", role='tabpanel')
          +imageRepresentationSupported()
          .panel.panel-default
            .panel-heading
              | What access method is this designed for? (multiple allowed)
              span(glossary='556781785719a8bb50f5e542')
            .panel-body
              +checkbox('product.features.accessMethods', 'finger', 'Finger pointing')
              +checkbox('product.features.accessMethods', 'grossPointing', 'Fist pointing')
              +checkbox('product.features.accessMethods', 'eyePointing', 'Eye pointing')
              +checkbox('product.features.accessMethods', 'scanning', 'Partner assisted scan')

        .tab-pane(id="{{ product._id }}tabCostSupport", role='tabpanel')
          +price()
          +addLinks('supportLinks', 'Support URLs')

        .tab-pane(id="{{ product._id }}tabVersions", role='tabpanel', ng-if='revisions.length')
          +productRevisions('product')

      +draftActions()
