include ../../app/mixins/results-helpers
include ../../app/mixins/form-helpers
include ../../app/admin/products/form-helpers

div.product-filters
  h2 Narrow results
  form(ng-submit='performSearch()')
    .form-group
      label.control-label(for="type") Product type
      +radioChange('search', 'type', 'ProductLowTech', 'Low-tech', 'clearSearchRetainType()')
      +radioChange('search', 'type', 'ProductHardware', 'Hardware', 'clearSearchRetainType()')
      +radioChange('search', 'type', 'ProductSoftware', 'Software / Application', 'clearSearchRetainType()')
      +radioChange('search', 'type', 'ProductVocabulary', 'Vocabulary', 'clearSearchRetainType()')

    .form-group(ng-if='search.type && search.type !== "ProductLowTech"')
      label.control-label(for="type") Operating systems
      ui-select(multiple, search-enabled, reset-search-input='true', ng-model="search.devices")
        ui-select-match(placeholder="Select operating systems") {{$item}}
        ui-select-choices(repeat="item in devices | filter: $select.search")
          div {{ item }}

    <!-- Hardware Only -->
    .form-group(ng-if='search.type && search.type === "ProductHardware"')
      label.control-label(for="type") Minimum Battery Life
      input.form-control(type='number', ng-model='search.batteryLife')

    <!-- Hardware Only -->
    .form-group(ng-if='search.type && search.type === "ProductHardware"')
      label.control-label(for="screenSize") Minimum Screen Size
      input.form-control(type='number', ng-model='search.screenSize', name='screenSize')

    <!-- Hardware Only -->
    .form-group(ng-if='search.type && search.type === "ProductHardware"')
      label.control-label(for="mobilePhoneCapabilities") Mobile phone capabilities
      +checkbox('search.mobilePhone', 'mobilePhoneSIM', 'In-built SIM')
      +checkbox('search.mobilePhone', 'mobilePhoneRequired', 'Phone required')


    <!-- Vocabulary Only -->
    .form-group(ng-if='search.type && search.type === "ProductVocabulary"')
      label.control-label Form of representation
      +checkbox('search.presentation', 'textOnly', 'Text only')
      +checkbox('search.presentation', 'textAndSymbolsOrPhotos', 'Text & Symbols or Photos')
      +checkbox('search.presentation', 'symbolsOrPhotos', 'Symbols or Photos Only')
      +checkbox('search.presentation', 'visualScenes', 'Visual Scenes')

    <!-- Software Only -->
    .form-group(ng-if='search.type && search.type === "ProductSoftware"')
      label.control-label Form of representation
      +checkbox('search.imageRepresentation', 'photos', 'Photos')
      +checkbox('search.imageRepresentation', 'symbols', 'Symbols')
      +checkbox('search.imageRepresentation', 'videos', 'Videos')

    .form-group(ng-if='search.type && search.type === "ProductSoftware"')
      label.control-label Speech Type Options
      +checkbox('search.speechTypeOptions', 'synthesised', 'Synthesised')
      +checkbox('search.speechTypeOptions', 'recorded', 'Recorded')


    <!-- Except Low Tech -->
    .form-group(ng-if='search.type && search.type !== "ProductLowTech"')
      label.control-label(for="type") Access Methods
        +checkbox('search.accessMethods', 'touch', 'Touch')
        +checkbox('search.accessMethods', 'mouseOrAlternative', 'Mouse or Mouse alternative')
        +checkbox('search.accessMethods', 'eyegaze', 'Eyegaze')
        +checkbox('search.accessMethods', 'switch', 'Switch')


    button.btn.btn-primary(type='submit') Search
    a.btn.btn-tertiary(ng-click='clearSearchFilters()') Clear
