form.form(name='form', ng-submit='save(form)', novalidate='')
  
  .form-group(ng-class='{ "has-success": form.email.$valid && submitted,\
  "has-error": form.email.$invalid && submitted }')
    label(for='email') Email *
    input.form-control(type='email', id='email', name='email', ng-model='user.email', required='', mongoose-error='')
    p.help-block(ng-show='form.email.$error.email && submitted')
      | Doesn't look like a valid email.
    p.help-block(ng-show='form.email.$error.required && submitted')
      | What's your email address?
    p.help-block(ng-show='form.email.$error.mongoose')
      | {{ errors.email }}
      
  if requirePassword
    .form-group(ng-class='{ "has-success": form.password.$valid && submitted,\
    "has-error": form.password.$invalid && submitted }')
      label(for='password') Password *
      input.form-control(type='password', id='password', name='password', ng-require='requirePassword', ng-model='user.password', ng-minlength='3', mongoose-error='')
      p.help-block(ng-show='(form.password.$error.minlength || form.password.$error.required) && submitted')
        | Password must be at least 3 characters.
      p.help-block(ng-show='form.password.$error.mongoose')
        | {{ errors.password }}
        
    .form-group(ng-class='{ "has-success": form.confirmPassword.$valid && submitted,\
    "has-error": form.confirmPassword.$invalid && submitted }')
      label(for='confirmPassword') Confirm Password *
      input.form-control(compare-to='user.password', ng-require='requirePassword', type='password', id='confirmPassword', name='confirmPassword', ng-model='user.confirmPassword')
      p.help-block(ng-show='(form.confirmPassword.$error.compareTo) && submitted')
        | Passwords do not match.
  
  .form-group(ng-class='{ "has-success": form.firstName.$valid && submitted,\
  "has-error": form.firstName.$invalid && submitted }')
    label(for='firstName') First Name *
    input.form-control(type='text', id='firstName', name='firstName', ng-model='user.firstName', required='')
    p.help-block(ng-show='form.firstName.$error.required && submitted')
      | A first name is required
      
  .form-group
    label(for='lastName') Last Name
    input.form-control(type='text', id='lastName', name='lastName', ng-model='user.lastName')
      
  .form-group
    label(for='description') Description
    select.form-control(id='description', name='description', ng-model='user.description')
      option(value='', disabled, selected) Please select
      option(ng-repeat='item in descriptions', value='{{ item }}') {{ item }}
      
  .form-group
    label(for='region') Region
    select.form-control(id='region', name='region', ng-model='user.region')
      option(value='', disabled, selected) Please select
      option(ng-repeat='item in regions', value='{{ item }}') {{ item }}
      
  .checkbox
    label
      input(type='checkbox', ng-model='user.subscribe')
      | I would like to join the Speech Bubble mailing list

  button.btn.btn-secondary(type='submit') Submit
  
  br
  br
  small * Required fields
