include ../../../mixins/form-helpers
include ../form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Simple product

form.form-horizontal(name='form', ng-submit='save(form)', novalidate)
  .modal-body
    .panel.panel-default
      .panel-heading Product Details
      .panel-body
        input(type='hidden', ng-init='product.type = "ProductHardwareSimple"')
        +productDetails()

    +productRevisions()
    +productImages()
    +productVideos()
    <!-- Message Levels -->
    .panel.panel-default
      .panel-heading Message levels
      .panel-body
        input.form-control(type='number', ng-model='product.features.messageLevels')
        .panel.panel-default(ng-show='product.features.messageLevels > 0', destroy='messageLevelsPerLevel')
          .panel-heading Message number per level
          .panel-body
            input.form-control(type='number', ng-model='product.features.messageLevelsPerLevel')

    +vocabularies()
    +speechTypeOptions()
    +sharedHardware()
    +addLinks('moreInformationLinks', 'More information URLs')

  .modal-footer
    button.btn.btn-primary() Save
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
