include ../../../mixins/form-helpers
include ../form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Simple product

form.form-horizontal(name='form', ng-submit='save(form)', novalidate)
  .modal-body
    .panel.panel-default
      .panel-heading Product Details
      .panel-body
        input(type='hidden', ng-init='product.type = "ProductHardwareSimple"')
        +productDetails()

    <!-- Message Levels -->
    .panel.panel-default
      .panel-heading Message levels
      .panel-body
        input.form-control(type='number', ng-model='product.features.messageLevels')
        .panel.panel-default(ng-show='product.features.messageLevels > 0', destroy='messageLevelsPerLevel')
          .panel-heading Message number per level
          .panel-body
            input.form-control(type='number', ng-model='product.features.messageLevelsPerLevel')

    <!-- Premade vocabularies -->
    .panel.panel-default
      .panel-heading Any premade vocabularies available?
      .panel-body
        +switch('product.features', 'premadeVocabularies')

        .panel.panel-default(ng-show='product.features.premadeVocabularies', destroy='premadeVocabulariesAvailable')
          .panel-heading Available vocabularies
          .panel-body
            ui-select(multiple, search-enabled, reset-search-input='true', ng-model="product.features.premadeVocabulariesAvailable")
              ui-select-match(placeholder="Select a vocabulary") {{$item.name}}
              ui-select-choices(repeat="item in vocabularyOptions | filter: $select.search", refresh='refreshVocabularies($select.search)', refresh-delay='500')
                div {{item.name}}

    +speechTypeOptions()

    +sharedHardware()
    +addMoreInformation('moreInformationLinks', 'More information')

  .modal-footer
    button.btn.btn-primary() Create
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
