include ../../../mixins/form-helpers
include ../form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Advanced product

form.form-horizontal(name='form', ng-submit='save(form)', novalidate)
  .modal-body
    .panel.panel-default
      .panel-heading Product Details
      .panel-body
        input(type='hidden', ng-init='product.type = "ProductHardwareAdvanced"')
        +productDetails()

    +revisions()
    +productImages()
    +supportedOperatingSystems()
    +dedicated()

    .panel.panel-default
      .panel-heading Accessibility features
      .panel-body
        textarea.form-control(ng-model='product.features.accessibilityFeatures', name='accessibilityFeatures', id='accessibilityFeatures')

    .panel.panel-default
      .panel-heading Mobile phone capabilities
      .panel-body
        +checkbox('product.features', 'mobilePhoneViaAACSoftware', 'Phone/Texting controllable from AAC Software,')
        +checkbox('product.features', 'mobilePhoneViaCopyPaste', 'Phone/texting controllable via copy/paste functionality')
        +checkbox('temp', 'mobilePhoneOther', 'Other')
        textarea.form-control(ng-show='temp.mobilePhoneOther', ng-model='product.features.mobilePhoneViaOther', name='mobilePhoneViaOther', id='mobilePhoneViaOther')

    +sharedHardware()

    +addLinks('moreInformationLinks', 'More information URLs')

  .modal-footer
    button.btn.btn-primary() Save
    a.btn.btn-tertiary(ng-click='cancel()') Cancel
