include ../../../mixins/form-helpers
include ../form-helpers

.modal-header
  button.close(type='button', ng-click='cancel()') ×
  h3.modal-title Hardware product

form.form-horizontal(name='form', ng-submit='save(form)', novalidate)
  fieldset(ng-disabled='isSaving')
    .modal-body
      .panel.panel-default
        .panel-heading Product Details
        .panel-body
          input(type='hidden', ng-init='product.type = "ProductHardwareAdvanced"')
          +productDetails()

      +productImages()
      +productVideos()
      +vocabularies()
      +deviceSupportedOperatingSystems()
      +dedicated()

      .panel.panel-default
        .panel-heading Mobile phone capabilities
        .panel-body
          +checkbox('product.features.mobilePhone', 'mobilePhoneSIM', 'In-built SIM')
          .panel.panel-default(ng-show='product.features.mobilePhone.mobilePhoneSIM', destroy='mobilePhoneSIMType')
            .panel-heading In-built SIM features
            .panel-body
              +radio('product.features', 'mobilePhoneSIMType', 'smsOnly', 'SMS Only')
              +radio('product.features', 'mobilePhoneSIMType', 'phoneOnly', 'Phone Only')
              +radio('product.features', 'mobilePhoneSIMType', 'smsAndPhone', 'SMS and Phone')
          +checkbox('product.features.mobilePhone', 'mobilePhoneRequired', 'Phone required')
          .panel.panel-default(ng-show='product.features.mobilePhone.mobilePhoneRequired', destroy='mobilePhoneRequiredType')
            .panel-heading Phone required features
            .panel-body
              +radio('product.features', 'mobilePhoneRequiredType', 'smsOnly', 'SMS Only')
              +radio('product.features', 'mobilePhoneRequiredType', 'smsAndPhone', 'SMS and Phone')
          +checkbox('temp', 'mobilePhoneOther', 'Other')
          textarea.form-control(ng-show='temp.mobilePhoneOther', ng-model='product.features.mobilePhone.mobilePhoneViaOther', name='mobilePhoneViaOther', id='mobilePhoneViaOther')

      +sharedHardware()
      +addLinks('moreInformationLinks', 'More information URLs')
      +productRevisions('product')

    +draftActions()
